.copy-quote {
    background-color: var(--bs-gray-200);
    border: 0;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 0;
    position: relative;
    top: 1px;
    line-height: 1;
}
