.share-dialog .title {
    font-style: italic;
    margin-bottom: 1em;
}

.share-dialog .link {
    display: flex;
}

.share-dialog .link INPUT {
    flex: auto;
    min-width: 0;
    margin-right: .5em;
}

.share-dialog .link BUTTON {
    flex: none;
}

.share-dialog .social {
    margin-top: 1em;
    line-height: 3.3;
}

.share-dialog .social BUTTON {
    display: inline-block;
    margin-right: .25em;
}
