.share-dialog .title {
    margin-bottom: .5em;
}

.share-dialog .link {
    display: flex;
}

.share-dialog .link INPUT {
    flex: auto;
    min-width: 0;
    margin-right: .5em;
}

.share-dialog .link BUTTON {
    flex: none;
    width: 2.5em;
    height: 2.5em;
}

.share-dialog .social {
    margin-top: 1.5em;
    line-height: 3.3;
    text-align: center;
}

.share-dialog .social BUTTON {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: .5em;
}
