.block-dialog .unblock-days {
    display: flex;
    flex-wrap: wrap;
    height: 2.5rem;
}

.block-dialog .unblock-days .rw-widget-picker {
    width: 7em;
    min-height: unset;
    margin-left: .5em;
    margin-right: .5em;
    position: relative;
    top: -.25em;
}

.block-dialog .unblock-days INPUT[name="days"] {
    width: 100%;
}

.block-dialog DETAILS SUMMARY {
    margin-bottom: .5rem;
}
