.draft-selector .dropdown-item.new-post {
    padding: 1rem;
}

.draft-selector .dropdown-item.new-post DIV {
    display: flex;
    gap: .25rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bs-gray-100);
    color: var(--secondary-600);
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}
