.composer {
    background-color: white;
    border: var(--gray-light) 1px solid;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .drafts {
    color: var(--gray-medium);
}
