.submit-button {
    flex: auto;
    margin-inline-end: .15rem;
}

.btn.submit-menu-button {
    flex: none;
    border-top-right-radius: var(--bs-btn-border-radius) !important;
    border-bottom-right-radius: var(--bs-btn-border-radius) !important;
}
