.composer {
    background-color: white;
    border: var(--gray-light) 1px solid;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.composer .info {
    display: flex;
    margin-bottom: .5rem;
}

.composer .info .avatar-field {
    margin-top: -.25rem;
}

.composer .input-resettable > INPUT, .composer .input-resettable > BUTTON, .composer .input-resettable > .rw-widget {
    display: inline-block;
}

.composer .input-resettable BUTTON {
    border: 0;
    background: transparent;
    color: var(--gray-medium);
}

.composer .input-resettable BUTTON:hover {
    color: var(--red);
}

.composer .text-editable {
    border: transparent .1rem solid;
    border-radius: .25rem;
    padding: .1rem .5rem;
    line-height: 1.2;
    width: max-content;
    cursor: text;
}

.composer .text-editable:hover {
    border-color: var(--gray-light);
}

.composer .text-editable.disabled:hover {
    border-color: transparent;
}

.composer .body {
    flex: auto;
    margin-left: .25rem;
}

.composer .body .publish-at {
    font-size: 0.8rem;
    color: var(--gray-medium);
}

.features {
    display: flex;
}

@media only screen and (min-width: 576px) {
    .features {
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 575px) {
    .features {
        flex-direction: column;
    }
}

.features .drafts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-medium);
    margin-bottom: .5rem;
}

.form-buttons {
    display: flex;
}
