.draft-selector .dropdown-item {
    font-size: 90%;
    line-height: normal;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.draft-selector .dropdown-item.current {
    background-color: var(--highlight-cyan);
    cursor: default;
}

.draft-selector .dropdown-item .info {
    flex: auto;
}

.draft-selector .dropdown-item .delete {
    flex: none;
    visibility: hidden;
    margin-left: 0.7rem;
    padding: 0.3rem;
    font-size: 1.2rem;
}

.draft-selector .dropdown-item:hover .delete, .draft-selector .dropdown-item.touch .delete {
    visibility: visible;
    color: var(--red-light);
    cursor: pointer;
}

.draft-selector .dropdown-item:hover .delete:hover {
    background-color: var(--red);
    color: white;
}

.draft-selector .dropdown-item .content {
    white-space: normal;
    width: max-content;
    max-height: 5em;
    overflow-y: hidden;
    overflow-wrap: break-word;
}

@media only screen and (min-width: 576px) {
    .draft-selector .dropdown-item .content {
        max-width: 25em;
    }
}

@media only screen and (max-width: 575px) {
    .draft-selector .dropdown-item .content {
        max-width: calc(100vw - 6rem);
    }
}

.draft-selector .dropdown-item .edited {
    font-size: 90%;
    color: var(--gray-medium);
}
