.composer-icon {
    display: inline-block;
    margin-bottom: 0.7rem;
    margin-right: 0.5rem;
    font-size: 1.8rem;
    color: var(--gray-light);
    border-radius: 3px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    cursor: pointer;
}

.composer-icon:hover {
    background-color: var(--highlight);
    color: var(--gray);
}

.composer-icon.composer-icon-active {
    color: var(--primary);
}

.composer-icon.composer-icon-changed {
    color: mediumturquoise;
    border-bottom: solid 3px mediumturquoise;
}

.composer-icon.composer-icon-changed:hover {
    color: var(--cyan);
    border-bottom-color: var(--cyan);
}

.composer-icon.composer-icon-changed.composer-icon-active {
    color: var(--primary);
    border-bottom: solid 3px var(--primary);
}
