.composer-icon {
    display: inline-block;
    margin-bottom: 0.7rem;
    margin-right: 0.5rem;
    font-size: 1.8rem;
    color: #ced4da;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.composer-icon:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--gray);
}

.composer-icon.composer-icon-active {
    color: var(--primary);
}

.composer-icon.composer-icon-changed {
    color: #68dab8;
    border-bottom: solid 3px #68dab8;
}

.composer-icon.composer-icon-changed:hover {
    color: #3b7d69;
    border-bottom-color: #3b7d69;
}

.composer-icon.composer-icon-changed.composer-icon-active {
    color: var(--primary);
    border-bottom: solid 3px var(--primary);
}
