.composer {
    background-color: white;
    border: var(--gray-light) 1px solid;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.features {
    display: flex;
}

@media only screen and (min-width: 576px) {
    .features {
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 575px) {
    .features {
        flex-direction: column;
    }
}

.features .drafts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-medium);
    margin-bottom: .5rem;
}

@media only screen and (max-width: 575px) {
    .features .drafts {
        flex-direction: row-reverse;
    }
}

.form-buttons {
    display: flex;
}

.submit-button {
    flex: auto;
}

.reset-button {
    flex: none;
    margin-left: 0.5rem;
}
