.draft-selector .dropdown-item {
    font-size: 90%;
    line-height: normal;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .25rem .5rem .25rem 1rem;
}

.draft-selector .dropdown-item.current {
    background-color: var(--highlight-cyan);
    cursor: default;
}

.draft-selector .dropdown-item .draft-info {
    flex: auto;
}

.draft-selector .dropdown-item .draft-delete {
    flex: none;
    margin-left: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
    color: var(--red-light);
}

.draft-selector .dropdown-item:hover .draft-delete {
    cursor: pointer;
}

@media (any-hover: hover) {
    .draft-selector .dropdown-item .draft-delete {
        visibility: hidden;
    }

    .draft-selector .dropdown-item:hover .draft-delete {
        visibility: visible;
    }
}

.draft-selector .dropdown-item:hover .draft-delete:hover {
    background-color: var(--bs-red);
    color: white;
}

.draft-selector .dropdown-item .content {
    white-space: normal;
    width: max-content;
    max-height: 5em;
    overflow-y: hidden;
    overflow-wrap: break-word;
}

@media only screen and (min-width: 576px) {
    .draft-selector .dropdown-item .content {
        max-width: 25em;
    }
}

@media only screen and (max-width: 575px) {
    .draft-selector .dropdown-item .content {
        max-width: calc(100vw - 4.3rem);
    }
}

.draft-selector .dropdown-item .edited {
    font-size: 90%;
    color: var(--bs-gray-500);
}
