.grant-page {
    font-size: 1.1rem;
}

@media only screen and (max-width: 991px) {
    .grant-page {
        padding-bottom: calc(var(--page-footer-height) + .25rem);
        background-color: white;
        min-height: 100vh;
    }

    .grant-page .content-panel {
        padding: 1.5rem;
    }
}
