.subscribe-button {
    margin-left: 1rem;
    font-size: 1rem;
    text-wrap: nowrap;
}

.subscribe-button .status {
    border-radius: 1.5em;
    padding: .5em .75em;
    font-weight: 400;
    font-size: .88em;
    line-height: 1;
    margin-right: -.25em;
}

.subscribe-button SPAN.status {
    background-color: var(--primary-50);
    color: var(--primary-800);
}

.subscribe-button SPAN.status.blocked {
    color: var(--bs-danger);
    background-color: var(--bs-danger-bg-subtle);
    border-color: transparent;
}
