.subscribe-button {
    margin-left: 1rem;
    text-wrap: nowrap;
}

.subscribe-button.btn-outline-secondary:hover {
    color: white;
    background-color: var(--bs-danger);
    border-color: var(--bs-danger);
}
