.rich-text-editor-button {
    background-color: transparent;
    color: var(--bs-gray-600);
    font-size: 1.1em;
    border: 0;
    width: 2em;
    height: 2.7em;
    padding: .5rem 0;
}

.rich-text-editor-button:disabled {
    color: var(--bs-gray-400);
}

.rich-text-editor-button.selector {
    width: fit-content;
}

.rich-text-editor-button.dropdown-toggle::after {
    margin-left: .4em;
    vertical-align: .1em;
}

.rich-text-editor-button.active {
    color: var(--bs-primary);
}

.rich-text-editor-button:hover:not(:disabled) {
    background-color: var(--highlight);
    color: var(--bs-gray-800);
}

.rich-text-editor-button.active:hover {
    background-color: var(--highlight-primary);
    color: var(--bs-primary);
}

.rich-text-editor-button .text {
    font-size: 1rem;
    font-weight: normal;
    color: var(--bs-gray-800);
}

.rich-text-editor-button:disabled .text {
    color: var(--bs-gray-400);
}
