.comment {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.comment-panel {
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem 1.5rem 1rem;
    background-color: white;
}

.comment > .menu {
    top: .05rem;
    right: -.25rem;
}

.comment .content {
    border-radius: 5px;
    box-sizing: content-box;
    padding: .5rem 0;
    width: 100%;
    overflow-wrap: break-word;
    text-align: start;
}

.comment .content P {
    margin-top: 1rem;
}

.comment .content P:first-child {
    margin-top: 0;
}

.comment .content P:last-child {
    margin-bottom: 0;
}

.comment.focused {
    border: dashed 1px var(--bs-primary);
}

.comment .content.preview {
    overflow-y: auto;
}

@media only screen and (max-width: 991px) {
    .comment .content.preview {
        max-height: 150vh;
    }
}

@media only screen and (min-width: 992px) {
    .comment .content.preview {
        max-height: 100vh;
    }
}

.comment .content IMG, .comment .content IFRAME, .comment .content .preload-placeholder {
    max-width: min(100vw - 7rem, var(--feed-width) - 6.5rem, var(--width, 100vw));
    max-height: min(16rem, var(--height, 200vh));
}

.comment .content IMG:not(.emoji) {
    width: auto;
    height: auto;
}

.comment .content FIGURE {
    display: inline-block;
}

.comment .content FIGCAPTION {
    font-size: .875em;
    line-height: 1.5;
    margin-top: .5em;
    color: var(--bs-secondary);
    max-width: calc(var(--width) * 1.05);
}

.comment .content .read-more {
    width: 100%;
    font-size: var(--posting-font-magnitude);
    text-align: left;
    padding-left: 0;
    padding-top: 0;
}

@media only screen and (min-width: 992px) {
    .comment A.link-preview, .comment DIV.link-preview {
        width: 400px;
    }
}

@media only screen and (max-width: 991px) {
    .comment A.link-preview, .comment DIV.link-preview {
        width: calc(100vw - 32px);
    }

    .comment A.link-preview {
        width: calc(100vw - 32px);
        margin-left: -.25rem;
    }

    .comment DIV.link-preview {
        width: calc(100vw - 32px);
        margin-left: -4rem;
    }
}

.comment .reactions-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 1.65em;
    color: var(--bs-gray-400);
    font-size: .75rem;
}
