.comment {
    position: relative;
    margin-bottom: .5rem;
}

.comment .content {
    background-color: var(--comments);
    border-radius: 5px;
    padding: .5rem;
}

.comment .content P:last-child {
    margin-bottom: 0;
}
