.replied-to {
    margin-bottom: .3rem;
    font-size: 90%;
    border-left: 3px var(--gray-light) solid;
    padding-left: .5em;
}

.replied-to .icon {
    color: var(--gray-medium);
    margin-right: .7em;
}

.replied-to .node-name {
    position: relative;
    top: -.1em;
}

.replied-to .heading {
    position: relative;
    top: -.1em;
    margin-left: .5em;
}

.replied-to .unset {
    color: var(--gray-medium);
    background-color: transparent;
    border: 0;
    font-weight: bold;
    font-size: 135%;
    margin-left: .2em;
}

.replied-to .unset:hover {
    background-color: var(--highlight);
}
