.comments-sentinel {
    color: var(--link);
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.comments-sentinel:hover {
    color: var(--link-hover);
    text-decoration: underline;
}
