#comment-composer .content {
    background-color: var(--comments);
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: .5rem;
}

#comment-composer .content .form-group {
    margin-bottom: 0;
}

#comment-composer TEXTAREA {
    background-color: var(--comment-compose);
}

#comment-composer TEXTAREA:focus {
    background-color: white;
}
