.comment-button, A.comment-button {
    text-decoration: none;
    color: var(--bs-gray-600);
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: .5em;
    font-size: .75rem;
    transition: background-color, color .15s ease-in;
}

.comment-button:hover, A.comment-button:hover {
    color: var(--bs-gray-800);
    background-color: var(--highlight);
    transition: background-color, color .15s ease-in;
}

@media only screen and (min-width: 576px) {
    .comment-button, A.comment-button {
        margin-right: .3rem;
    }

    .comment-button.invisible, A.comment-button.invisible {
        display: none;
    }

    .comment-button .caption, A.comment-button .caption {
        margin-left: .25rem;
    }
}

@media only screen and (max-width: 575px) {
    .comment-button, A.comment-button {
        padding: 0 1rem;
    }

    .comment-button .caption, A.comment-button .caption {
        display: none;
    }
}
