#comments {
    padding-left: .25rem;
}

#comments.disabled {
    text-align: center;
    border-top: solid 1px var(--bs-gray-300);
    border-bottom: solid 1px var(--bs-gray-300);
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: var(--bs-gray-600);
    margin-top: 2rem;
    margin-bottom: .5rem;
}
