#comment-composer FORM {
    display: flex;
    flex-wrap: wrap;
}

#comment-composer .content {
    margin-bottom: .5rem;
    flex: 1 1 0;
}

#comment-composer .content .form-group {
    margin-bottom: 0;
}

#comment-composer TEXTAREA:empty {
    background-color: var(--comment-compose);
}

#comment-composer TEXTAREA:focus {
    background-color: white;
}

#comment-composer .buttons {
    flex: 100%;
}

#comment-composer.disabled {
    text-align: center;
    border-top: solid 1px var(--bs-gray-400);
    border-bottom: solid 1px var(--bs-gray-400);
    color: var(--bs-gray-600);
}
