#comment-composer .buttons {
    text-align: right;
}

#comment-composer .buttons BUTTON {
    text-transform: uppercase;
}

#comment-composer .buttons BUTTON[type=submit] {
    margin-left: .5rem;
    margin-right: 1rem;
}

#comment-composer .buttons .draft-saver {
    display: inline-block;
    color: var(--bs-gray-500);
}
