.comment {
    position: relative;
    margin-bottom: 1rem;
}

.comment .content {
    background-color: var(--comments);
    border-radius: 5px;
    padding: 0.5rem;
}

.comment .content P:last-child {
    margin-bottom: 0;
}
