.comment .reactions {
    flex: none;
    font-size: .8rem;
    margin-right: .3rem;
    position: relative;
    top: -1.1rem;
}

.comment .reactions .positive {
    margin-right: 0;
    box-shadow: 3px 3px 2px #ddd;
    border: solid 1px var(--reactions-positive-border);
}

.comment .reactions .negative {
    margin-left: 1em;
    box-shadow: 3px 3px 2px #ddd;
    border: solid 1px var(--reactions-negative-border);
}
