.comment .reactions {
    flex: none;
    font-size: .8rem;
    margin-right: .3rem;
    position: relative;
    top: -.9rem;
}

.comment .reactions .positive {
    margin-right: 0;
    margin-left: .7em;
    padding: .4em .9em;
}

.comment .reactions .negative {
    margin-left: 1em;
    padding: .4em .9em;
}
