.comment .owner-line {
    margin-bottom: 0;
    width: calc(100% - 3.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment .owner {
    font-weight: bold;
    margin: 0 .5em;
}

.comment .owner > A {
    color: var(--bs-gray-900);
}

.comment.topic-starter .owner > A {
    color: var(--primary-800);
}

.comment .owner-line .owner .signature-verify-button {
    vertical-align: .12em;
}
