.comment {
    position: relative;
    margin: 0 1rem .6rem 1rem;
}

.comment .content {
    background-color: var(--comments);
    border-radius: 5px;
    padding: .5rem;
}

.comment.focused .content {
    border: dashed 1px var(--primary);
}

.comment .content P:last-child {
    margin-bottom: 0;
}

.comment .chevron {
    visibility: hidden;
}

.comment:hover .chevron {
    visibility: visible;
}

.comment .reactions-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
