.comment-dialog .modal-children {
    overflow: visible;
}

.comment-dialog .owner-line {
    margin-bottom: .25rem;
}

.comment-dialog .owner-line .avatar-field {
    display: inline-block;
    margin-right: .25rem;
}
