.replied-to {
    margin-bottom: .3rem;
    font-size: 90%;
    border-left: 3px var(--gray-light) solid;
    padding-left: .5em;
}

.replied-to A {
    text-decoration: none;
}

.replied-to .icon {
    color: var(--gray-medium);
    margin-right: .7em;
}

.replied-to .node-name {
    color: var(--gray);
    position: relative;
    top: -.1em;
}

.replied-to .heading {
    color: var(--gray);
    position: relative;
    top: -.1em;
    margin-left: .5em;
}

.replied-to A:hover .heading {
    text-decoration: underline;
}

.replied-to .unset {
    color: var(--gray-medium);
    background-color: transparent;
    border: 0;
    font-weight: bold;
    font-size: 135%;
    margin-left: .2em;
}

.replied-to .unset:hover {
    background-color: var(--highlight);
}

.glance-comment-popover {
    width: max-content;
    max-height: 33vh;
    overflow: auto;
}

@media only screen and (min-width: 992px) {
    .glance-comment-popover {
        max-width: calc(var(--feed-width) - 2rem);
    }
}

@media only screen and (max-width: 991px) {
    .glance-comment-popover {
        max-width: calc(100vw - 4rem);
    }
}
