/* Based on react-image-lightbox 5.1.4 by Chris Fritz (MIT License). */

.ril__image {
    position: absolute;
    inset: 0;
    margin: auto;
    max-inline-size: none;
    touch-action: none;
    user-select: none;
}

.ril__loadingContainer,
.ril__errorContainer {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
}

.ril__errorContainer {
    color: #fff;
}

:is(.ril__imagePrev, .ril__imageNext) :is(.ril__loadingContainer, .ril__errorContainer) {
    display: none;
}
