@keyframes close-window {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ril__outer {
    background-color: rgb(0 0 0 / 85%);
    outline: none;
    inset: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    -ms-content-zooming: none;
    -ms-touch-select: none;
    touch-action: none;
    user-select: none;
}

.ril__outerClosing {
    opacity: 0;
}

.ril__inner {
    position: absolute;
    inset: 0;
}

.ril__navButtons {
    border: none;
    background-color: rgb(0 0 0 / 20%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 80px;
    margin: auto;
    cursor: pointer;
    opacity: .7;
}

@media only screen and (min-width: 992px) {
    .ril__navButtons {
        height: calc(100vh - 100px - 13rem) !important;
    }
}

.ril__navButtons:hover {
    opacity: 1;
}

.ril__navButtons:active {
    opacity: .7;
}

.ril__navButtonPrev {
    left: 0;
}

.ril__navButtonNext {
    right: 0;
}

.ril__toolbar {
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 50px;
}

.ril__outer.transparent .ril__toolbar,
.ril__outer.transparent .ril__navButtons {
    filter: opacity(0);
    transition: filter .5s ease;
    pointer-events: none;
}

.ril__toolbarSide {
    height: 50px;
    margin: 0;
}

.ril__toolbarLeftSide {
    padding-left: 20px;
    padding-right: 0;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ril__toolbarRightSide {
    padding-left: 0;
    padding-right: 20px;
    flex: 0 0 auto;
}

.ril__toolbarItem {
    display: inline-block;
    line-height: 50px;
    padding: 0;
    color: #fff;
    font-size: 120%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ril__toolbarItemChild {
    vertical-align: middle;
}

.ril__builtinButton {
    width: 40px;
    height: 35px;
    cursor: pointer;
    border: none;
    opacity: .7;
    background: transparent;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.ril__builtinButton:hover {
    opacity: 1;
}

.ril__builtinButton:active {
    outline: none;
}

.ril__builtinButtonDisabled {
    cursor: default;
    opacity: .5;
}

.ril__builtinButtonDisabled:hover {
    opacity: .5;
}

@media only screen and (max-width: 991px) {
    .ril__zoomButton {
        display: none;
    }
}

.ril__outerAnimating {
    animation-name: close-window;
}
