@keyframes close-window {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ril__outer {
    background-color: rgb(0 0 0 / 85%);
    outline: none;
    inset: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    -ms-content-zooming: none;
    -ms-touch-select: none;
    touch-action: none;
    user-select: none;
}

.ril__outerClosing {
    opacity: 0;
}

.ril__inner {
    position: absolute;
    inset: 0;
}

.ril__image,
.ril__imagePrev,
.ril__imageNext {
    position: absolute;
    inset: 0;
    margin: auto;
    max-width: none;
    -ms-content-zooming: none;
    -ms-touch-select: none;
    touch-action: none;
    user-select: none;
}

.ril__navButtons {
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 34px;
    padding: 40px 30px;
    margin: auto;
    cursor: pointer;
    opacity: 0.7;
}

@media only screen and (min-width: 992px) {
    .ril__navButtons {
        height: calc(100vh - 100px - 13rem) !important;
    }
}

.ril__navButtons:hover {
    opacity: 1;
}

.ril__navButtons:active {
    opacity: 0.7;
}

.ril__navButtonPrev {
    left: 0;
    background:
        rgb(0 0 0 / 20%)
        url("./svg/left_arrow.svg")
        no-repeat center;
    background-size: 20px 34px;
}

.ril__navButtonNext {
    right: 0;
    background:
        rgb(0 0 0 / 20%)
        url("./svg/right_arrow.svg")
        no-repeat center;
    background-size: 20px 34px;
}

.ril__caption,
.ril__toolbar {
    background-color: rgb(0 0 0 / 50%);
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.ril__caption {
    bottom: 0;
    max-height: 150px;
    overflow: auto;
}

.ril__captionContent {
    padding: 10px 20px;
    color: #fff;
}

.ril__toolbar {
    top: 0;
    height: 50px;
}

.ril__outer.transparent .ril__toolbar,
.ril__outer.transparent .ril__navButtons,
.ril__outer.transparent .ril__caption {
    filter: opacity(0);
    transition: filter .5s ease;
    pointer-events: none;
}

.ril__toolbarSide {
    height: 50px;
    margin: 0;
}

.ril__toolbarLeftSide {
    padding-left: 20px;
    padding-right: 0;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ril__toolbarRightSide {
    padding-left: 0;
    padding-right: 20px;
    flex: 0 0 auto;
}

.ril__toolbarItem {
    display: inline-block;
    line-height: 50px;
    padding: 0;
    color: #fff;
    font-size: 120%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ril__toolbarItemChild {
    vertical-align: middle;
}

.ril__builtinButton {
    width: 40px;
    height: 35px;
    cursor: pointer;
    border: none;
    opacity: 0.7;
}

.ril__builtinButton:hover {
    opacity: 1;
}

.ril__builtinButton:active {
    outline: none;
}

.ril__builtinButtonDisabled {
    cursor: default;
    opacity: 0.5;
}

.ril__builtinButtonDisabled:hover {
    opacity: 0.5;
}

.ril__closeButton {
    background: url("./svg/x.svg") no-repeat center;
    background-size: 20px 20px;
}

.ril__zoomInButton {
    background: url("./svg/zoom_in.svg") no-repeat center;
    background-size: 20px 20px;
}

.ril__zoomOutButton {
    background: url("./svg/zoom_out.svg") no-repeat center;
    background-size: 20px 20px;
}

@media only screen and (max-width: 991px) {
    .ril__zoomInButton {
        display: none;
    }

    .ril__zoomOutButton {
        display: none;
    }
}

.ril__outerAnimating {
    animation-name: close-window;
}

.ril__loadingContainer,
.ril__errorContainer {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ril__imagePrev .ril__loadingContainer,
.ril__imageNext .ril__loadingContainer {
    display: none;
}

.ril__errorContainer {
    color: #fff;
}

.ril__imagePrev .ril__errorContainer,
.ril__imageNext .ril__errorContainer {
    display: none;
}
