@keyframes close-window {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ril__outer {
    --ril-toolbar-size: 50px;
    --ril-toolbar-padding: 20px;
    --ril-nav-width: 60px;

    position: relative;
    background-color: rgb(0 0 0 / 85%);
    outline: none;
    inset: 0;
    z-index: 1000;
    inline-size: 100%;
    block-size: 100%;
    overscroll-behavior: contain;
    touch-action: none;
    user-select: none;
}

.ril__outerClosing {
    opacity: 0;
}

.ril__inner {
    position: absolute;
    inset: 0;
}

.ril__navButtons {
    position: absolute;
    inset-block: 0;
    inline-size: var(--ril-nav-width);
    block-size: 80px;
    margin-block: auto;
    border: none;
    padding: 0;
    background-color: rgb(0 0 0 / 20%);
    color: #fff;
    display: grid;
    place-items: center;
    cursor: pointer;
    opacity: .7;
}

@media (min-width: 992px) {
    .ril__navButtons {
        block-size: calc(100dvh - 100px - 13rem);
    }
}

.ril__navButtons:hover {
    opacity: 1;
}

.ril__navButtons:active {
    opacity: .7;
}

.ril__navButtonPrev {
    inset-inline-start: 0;
}

.ril__navButtonNext {
    inset-inline-end: 0;
}

.ril__toolbar {
    position: absolute;
    inset-block-start: 0;
    inset-inline: 0;
    block-size: var(--ril-toolbar-size);
    display: grid;
    grid-template-columns: minmax(0, 1fr) max-content;
    align-items: center;
    background-color: rgb(0 0 0 / 50%);
}

.ril__outer.transparent :is(.ril__toolbar, .ril__navButtons, .ril__caption) {
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: none;
}

.ril__toolbarSide {
    block-size: var(--ril-toolbar-size);
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    align-items: center;
}

.ril__toolbarLeftSide {
    min-inline-size: 0;
    padding-inline: var(--ril-toolbar-padding) 0;
    overflow: hidden;
}

.ril__toolbarRightSide {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: end;
    padding-inline: 0 var(--ril-toolbar-padding);
}

.ril__toolbarItem {
    min-inline-size: 0;
    max-inline-size: 100%;
    block-size: 100%;
    color: #fff;
    font-size: 120%;
    display: grid;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ril__toolbarItemChild {
    min-inline-size: 0;
    max-inline-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ril__builtinButton {
    inline-size: 40px;
    block-size: 35px;
    cursor: pointer;
    border: none;
    opacity: .7;
    background: transparent;
    color: #fff;
    display: inline-grid;
    place-items: center;
    padding: 0;
}

.ril__builtinButton:hover {
    opacity: 1;
}

.ril__builtinButton:active {
    outline: none;
}

.ril__builtinButtonDisabled {
    cursor: default;
    opacity: .5;
}

.ril__builtinButtonDisabled:hover {
    opacity: .5;
}

@media only screen and (max-width: 991px) {
    .ril__zoomButton {
        display: none;
    }
}

.ril__outerAnimating {
    animation-name: close-window;
}
