.rich-text-editor .ql-tooltip::before {
    content: unset;
}

.rich-text-editor .ql-tooltip .title {
    font-weight: bold;
    margin-right: 1em;
}

.rich-text-editor .ql-tooltip A.ql-action {
    margin-left: 1em;
    padding-right: .5em;
    border-right: 1px solid var(--bs-gray-400);
}

.rich-text-editor .ql-tooltip A.ql-action::after {
    content: unset;
}

.rich-text-editor .ql-tooltip A.ql-remove {
    margin-left: .5em;
}

.rich-text-editor .ql-tooltip A.ql-remove::before {
    content: unset;
}
