.visual-text-area {
    overflow-y: auto;
}

.visual-text-area P:last-child {
    margin-bottom: 0;
}

.visual-text-area SPAN[data-slate-placeholder="true"] {
    top: .5em !important;
    width: 90% !important;
    color: var(--bs-gray-600);
}

.visual-text-area A, .visual-text-area .link {
    color: var(--bs-link-color);
    text-decoration: underline;
}

.visual-text-area .spoiler {
    background-color: unset;
    border: 1px dashed var(--bs-gray-600);
    color: unset;
    font-weight: unset;
    cursor: unset;
}

.visual-text-area DIV.spoiler {
    margin-bottom: 1rem;
}

.visual-text-area .mention {
    color: var(--bs-link-color);
}

.visual-text-area .block-border-gray {
    --bb-color: var(--bs-gray-600);
}

.visual-text-area .block-border-blue {
    --bb-color: var(--bs-blue-600);
}

.visual-text-area .block-border-red {
    --bb-color: var(--bs-code-color);
}

.visual-text-area .block-border {
    border: 1px dashed var(--bb-color);
    border-radius: .5rem;
    position: relative;
    padding: .75rem .5rem .5rem;
    overflow: visible;
}

.visual-text-area .block-border::before {
    position: absolute;
    top: -.75em;
    left: 1.5em;
    background-color: var(--bb-color);
    color: white;
    text-transform: lowercase;
    font-weight: 400;
    font-size: .75em;
    padding: 0 .5em;
    border-radius: .3em;
    content: var(--bb-badge);
}

.visual-text-area DETAILS {
    padding-bottom: 0;
}

.visual-text-area DETAILS[open] {
    padding-bottom: .5rem;
}

.visual-text-area .formula {
    cursor: pointer;
}

.visual-text-area FIGURE {
    display: inline-block;
}

.visual-text-area FIGCAPTION {
    font-size: .875em;
    line-height: 1.5;
    margin-top: .5em;
    color: var(--bs-secondary);
}

.visual-text-area IMG {
    max-width: min(100vw - 4rem, var(--feed-width) - 3.5rem, var(--width, 100vw));
    max-height: var(--height, 200vh);
}

.visual-text-area IMG:not(.emoji) {
    width: auto;
    height: auto;
}

.visual-text-area,
.visual-text-area > :not(DIV.list-item) {
    counter-reset: list-counter-1 list-counter-2 list-counter-3 list-counter-4 list-counter-5;
}

.visual-text-area DIV.list-item + P,
.visual-text-area DIV.list-item + DETAILS,
.visual-text-area DIV.list-item + .block-border,
.visual-text-area DIV.list-item + DIV.formula {
    margin-top: 1rem;
}

.visual-text-area DIV.list-item {
    position: relative;
    padding-left: 1.5rem;
}

.visual-text-area DIV.list-item::before {
    position: absolute;
    left: 0;
}

.visual-text-area DIV.ol-1 {
    margin-left: 1rem;
    counter-increment: list-counter-1;
    counter-reset: list-counter-2 list-counter-3 list-counter-4 list-counter-5;
}

.visual-text-area DIV.ol-1::before {
    content: counter(list-counter-1) ". ";
}

.visual-text-area DIV.ol-2 {
    margin-left: 2rem;
    counter-increment: list-counter-2;
    counter-reset: list-counter-3 list-counter-4 list-counter-5;
}

.visual-text-area DIV.ol-2::before {
    content: counter(list-counter-2, lower-alpha) ". ";
}

.visual-text-area DIV.ol-3 {
    margin-left: 3rem;
    counter-increment: list-counter-3;
    counter-reset: list-counter-4 list-counter-5;
}

.visual-text-area DIV.ol-3::before {
    content: counter(list-counter-3, lower-roman) ". ";
}

.visual-text-area DIV.ol-4 {
    margin-left: 4rem;
    counter-increment: list-counter-4;
    counter-reset: list-counter-5;
}

.visual-text-area DIV.ol-4::before {
    content: counter(list-counter-4) ". ";
}

.visual-text-area DIV.ol-5 {
    margin-left: 5rem;
    counter-increment: list-counter-5;
}

.visual-text-area DIV.ol-5::before {
    content: counter(list-counter-5, lower-alpha) ". ";
}

.visual-text-area DIV.ul-1 {
    margin-left: 1rem;
    counter-reset: list-counter-1 list-counter-2 list-counter-3 list-counter-4 list-counter-5;
}

.visual-text-area DIV.ul-1::before {
    content: "\2022";
    font-size: 1.5em;
    top: -.25em;
}

.visual-text-area DIV.ul-2 {
    margin-left: 2rem;
    counter-reset: list-counter-2 list-counter-3 list-counter-4 list-counter-5;
}

.visual-text-area DIV.ul-2::before {
    content: "\25e6";
    font-size: 1.5em;
    top: -.25em;
}

.visual-text-area DIV.ul-3 {
    margin-left: 3rem;
    counter-reset: list-counter-3 list-counter-4 list-counter-5;
}

.visual-text-area DIV.ul-3::before {
    content: "\25aa";
    font-size: 1.5em;
    top: -.25em;
}

.visual-text-area DIV.ul-4 {
    margin-left: 4rem;
    counter-reset: list-counter-4 list-counter-5;
}

.visual-text-area DIV.ul-4::before {
    content: "\2022";
    font-size: 1.5em;
    top: -.25em;
}

.visual-text-area DIV.ul-5 {
    margin-left: 5rem;
    counter-reset: list-counter-5;
}

.visual-text-area DIV.ul-5::before {
    content: "\25e6";
    font-size: 1.5em;
    top: -.25em;
}
