.mnemonic-page .name {
    margin-top: -1.5rem;
}

.mnemonic-page .written-down {
    margin-top: 3rem;
    font-weight: 400;
    color: var(--bs-gray-600);
}

.mnemonic-page .submit-button {
    display: block;
    width: 100%;
}

.mnemonic-page .skip {
    display: block;
    margin: .75rem auto 0;
}
