.profile-page .back-box .underlined-tabs {
    border-radius: 1rem;
}

@media only screen and (max-width: 991px) {
    .profile-page .back-box {
        top: 4rem;
    }

    .profile-page .back-box .underlined-tabs {
        border-radius: 0;
        padding: 0 .25rem;
    }
}

@media only screen and (min-width: 992px) {
    .profile-page .back-box {
        padding-top: 1rem;
    }
}

.profile-page .mobile-back {
    background-color: white;
}

.profile-page .mobile-back.mobile-back-shadow {
    box-shadow: none;
}

.profile-page .desktop-back {
    margin-top: 0;
    margin-bottom: -.5rem;
}

@media only screen and (max-width: 991px) {
    .profile-page { /* FIXME deprecated */
        padding-bottom: 3rem;
        background-color: white;
        min-height: 100vh;
    }
}

.profile-view A:hover {
    text-decoration: underline;
}

.profile-view .avatar {
    display: block;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 992px) {
    .profile-view .avatar {
        float: left;
        margin-left: unset;
        margin-right: .7rem;
    }
}

.profile-view .full-name {
    font-size: x-large;
    font-weight: bold;
}

.profile-view .full-name .gender {
    margin-left: .5em;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
}

.profile-view > .title {
    font-size: larger;
    margin-top: .2em;
}

.profile-view .donate {
    margin-top: .2em;
}

.profile-view .email {
    margin-top: 1em;
}

.profile-view .email .title {
    font-weight: bold;
}

.profile-view .bio {
    margin-top: 1em;
}
