#profile-title {
    background-color: white;
    padding: 0 1rem;
}

#profile-title .panel {
    display: grid;
    grid-template: min-content / auto minmax(4.5rem, min-content) minmax(4.5rem, min-content);
    gap: .8rem;
    margin-bottom: .5rem;
}

#profile-title .counter {
    display: block;
    font-size: .75rem;
    line-height: 133%;
    color: var(--bs-gray-900);
    text-align: center;
    align-self: center;
}

#profile-title .counter EM {
    display: block;
    font-weight: 600;
    font-size: 1rem;
    font-style: normal;
    line-height: 150%;
}

#profile-title .full-name {
    color: var(--bs-gray-900);
    font-size: 1.31rem;
    font-weight: 600;
    line-height: 133%;
    white-space: nowrap;
}

#profile-title .mention {
    color: var(--bs-gray-600);
    font-size: .88rem;
    line-height: 143%;
    white-space: nowrap;
}

#profile-title .title {
    color: var(--bs-gray-900);
    font-size: .88rem;
    line-height: 143%;
}

#profile-title .subscribe-line {
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
}

#profile-title .feed-subscribe-button {
    margin: 0;
    flex: auto;
}

#profile-title .subscribe-button {
    display: flex;
}

#profile-title .subscribe-button .status {
    flex: auto;
    align-self: center;
    text-align: center;
}

#profile-title .subscribe-button .menu {
    padding-right: 0;
}
