.instant-popover {
    width: 28rem;
    border-top: 1px solid var(--bs-gray-300);
}

@media only screen and (max-width: 575px) {
    .instant-popover {
        width: 100vw;
    }
}

#instants {
    font-size: .835rem;
}

#instants .header {
    padding: 0 0 .8rem 0;
    border-bottom: 1px solid var(--bs-gray-100);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

#instants .header .title {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
}

#instants .header .close {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    margin-top: -.25rem;
    border: 0;
    background-color: transparent;
    border-radius: 50%;
    color: var(--bs-gray-600);
}

#instants .header .close:hover {
    background-color: var(--highlight);
}

#instants > .footer {
    padding: .75rem .75rem 0 .75rem;
    margin-top: 1rem;
    margin-bottom: -.25rem;
    border-top: 1px solid var(--bs-gray-100);
    display: flex;
    justify-content: space-between;
}

#instants .build-number {
    color: var(--bs-gray-500);
    font-size: .7rem;
    align-self: flex-end;
}

#instants .action {
    color: var(--secondary-600);
    font-size: 1rem;
    border: 0;
    background-color: transparent;
}

#instants .action:hover {
    text-decoration: underline;
}

#instants .content {
    max-width: 800px;
    max-height: 70vh;
    overflow-y: auto;
    overscroll-behavior-y: none;
}

#instants .content HR {
    border-color: var(--bs-gray-500);
    margin-top: .25rem;
    margin-bottom: .25rem;
}
