.instant-popover {
    width: 25rem;
}

@media only screen and (max-width: 575px) {
    .instant-popover {
        box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, .14),
                    0 -1px 10px 0 rgba(0, 0, 0, .12),
                    0 -2px 4px -1px rgba(0, 0, 0, .2)
    }
}

#instants {
    font-size: .835rem;
    margin-left: -.75rem;
    margin-right: -.75rem;
}

#instants .header {
    padding: 0 .75rem;
    border-bottom: 1px solid var(--bs-gray-400);
    display: flex;
    justify-content: space-between;
}

#instants .header .title {
    font-weight: bold;
}

#instants > .footer {
    padding-top: .25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    margin-bottom: -.25rem;
    border-top: 1px solid var(--bs-gray-400);
    display: flex;
    justify-content: flex-end;
}

#instants .action {
    color: var(--bs-blue);
    cursor: pointer;
}

#instants .action:hover {
    text-decoration: underline;
}

#instants .build-number {
    color: var(--bs-gray-400);
    font-size: .7rem;
    position: relative;
    top: .5em;
    left: .5rem;
}

#instants .content {
    max-width: 800px;
    max-height: 70vh;
    overflow-y: auto;
    overscroll-behavior-y: none;
}
