@media only screen and (max-width: 991px) {
    .instants-page {
        background-color: white;
        min-height: 100vh;
    }
}

@media only screen and (min-width: 992px) {
    .instants-page #back-box {
        padding-top: 1rem;
    }

    .instants-page #back-box .desktop-back {
        margin-top: 0;
    }
}

.instants-page #instants > .content {
    max-width: unset;
    max-height: unset;
    height: unset;
}
