#instants .instant {
    display: grid;
    grid-template-rows: [header-start] auto [header-end buttons-start] min-content [buttons-end date-start] min-content [date-end];
    grid-template-columns: [avatar] calc(40px + .75rem) [summary] auto [sidebar] 1.5em [end];
    overflow-wrap: anywhere;
    padding: .5rem 1rem;
    border-radius: .5rem;
    min-height: 5em;
    margin-bottom: .25rem;
}

@media only screen and (max-width: 575px) {
    #instants .instant {
        grid-template-columns: [avatar] calc(40px + .75rem) [summary] auto [sidebar end];
    }
}

#instants .instant.unread {
    background-color: var(--primary-50);
}

#instants .instant:hover, #instants .instant.unread:hover {
    background-color: var(--highlight);
}

#instants .instant A.outer {
    display: block;
    color: black;
    text-decoration: none;
    z-index: var(--zindex-text-overlay);
}

#instants .instant A.cells-avatar {
    grid-row: header-start / date-end;
    grid-column: avatar / summary;
}

#instants .instant A.cells-summary {
    grid-row: header-start / header-end;
    grid-column: summary / sidebar;
}

#instants .instant A.cells-date {
    grid-row: date-start / date-end;
    grid-column: summary / sidebar;
}

#instants .instant .summary-avatar {
    grid-row: header-start / date-end;
    grid-column: avatar / summary;
}

#instants .instant .summary {
    grid-row: header-start / header-end;
    grid-column: summary / sidebar;
}

#instants .instant .summary .instant-icon {
    margin-right: .25em;
    font-size: 1rem;
}

#instants .instant .footer {
    grid-row: date-start / date-end;
    grid-column: summary / sidebar;
    margin-top: .1em;
}

#instants .instant .footer .date {
    color: var(--bs-gray-500);
}

#instants .instant .buttons {
    grid-row: buttons-start / buttons-end;
    grid-column: summary / sidebar;
    margin-top: .375em;
    margin-bottom: .375em;
}

#instants .instant .buttons .btn {
    --bs-btn-border-radius: .5rem;
}

#instants .instant .buttons BUTTON:not(:last-child) {
    margin-right: .5rem;
}

#instants .instant .buttons .message {
    color: var(--bs-gray-700);
}

#instants .instant .buttons .message .check {
    margin-right: .25em;
    vertical-align: .05em;
}

#instants .instant .sidebar {
    grid-row: header-start / date-end;
    grid-column: sidebar / end;
    place-self: center;
    padding: .5em;
    color: var(--primary-600);
}

#instants .instant:hover .sidebar .envelope {
    cursor: pointer;
}
