.bell-button {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;

    --bs-btn-color: var(--bs-gray-600);
}

.bell-button .count {
    position: absolute;
    top: -.2rem;
    right: 0;
    background-color: var(--bs-danger);
    border-radius: .25rem;
    color: white;
    font-weight: bold;
    font-size: .7rem;
    padding-left: .2rem;
    padding-right: .2rem;
}

SPAN.active .bell-button {
    background-color: var(--highlight);
}
