#instants .sentinel {
    text-align: center;
    color: var(--bs-primary);
    border-top: 1px solid var(--bs-gray-200);
    cursor: pointer;
}

#instants .sentinel:hover {
    background-color: var(--highlight);
}
