.instant-popover {
    min-width: 25rem;
}

#instants {
    font-size: 0.835rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

#instants .header {
    padding: 0 0.75rem;
    border-bottom: 1px solid var(--gray-light);
    display: flex;
    justify-content: space-between;
}

#instants .header .title {
    font-weight: bold;
}

#instants .header .read-all {
    color: var(--blue);
    cursor: pointer;
}

#instants .header .read-all:hover {
    text-decoration: underline;
}

#instants .content {
    max-width: 800px;
    max-height: 70vh;
    overflow-y: auto;
}
