#instants .sentinel {
    text-align: center;
    color: var(--primary);
    border-top: 1px solid #e8e8e8;
    cursor: pointer;
}

#instants .sentinel:hover {
    background-color: var(--highlight);
}
