.rich-text-image-dialog-tabs {
    margin-bottom: 1rem;
}

.rich-text-image-dialog-tabs .nav-link:not(.active) {
    cursor: pointer;
}

.rich-text-image-dialog-tabs .nav-link svg {
    margin-right: .3em;
}
