.rich-text-editor-button {
    background-color: transparent;
    color: var(--bs-gray-600);
    font-size: 1.2em;
    border: 0;
    padding: 0;
    width: 1.9em;
    height: 1.9em;
}

.rich-text-editor-button:hover {
    background-color: var(--highlight);
    color: var(--bs-gray-800);
}
