.rich-text-editor-panel {
    background-color: var(--gray-ultralight);
}

.rich-text-editor-panel .group {
    display: inline-block;
}

@media only screen and (min-width: 576px) {
    .rich-text-editor-panel .group {
        margin-right: .75rem;
    }
}

@media only screen and (max-width: 575px) {
    .rich-text-editor-panel .group {
        margin-right: .5rem;
    }
}
