.mention-select {
    border: solid 1px var(--gray-light);
    border-radius: 5px;
    max-height: 18em;
    overflow-y: auto;
}

.mention-select .item {
    padding: .25em .5em;
    cursor: pointer;
}

.mention-select .item.selected, .mention-select .item.selected:hover {
    background-color: var(--primary);
    color: white;
}

.mention-select .item:hover {
    background-color: var(--highlight);
}

.mention-select .item ~ .item {
    border-top: dotted 1px var(--gray-ultralight);
}

.mention-select .item .full-name {
    font-weight: bold;
}

.mention-select .item .name {
    color: var(--gray-medium);
}

.mention-select .item.selected .name {
    color: var(--white-dark);
}
