.rich-text-editor-button {
    background-color: transparent;
    color: var(--bs-gray-600);
    font-size: 1.1em;
    border: 0;
    width: 1.7em;
    height: 1.7em;
}

.rich-text-editor-button.active {
    color: var(--bs-primary);
}

.rich-text-editor-button:hover {
    background-color: var(--highlight);
    color: var(--bs-gray-800);
}

.rich-text-editor-button.active:hover {
    background-color: var(--highlight-blue);
    color: var(--bs-primary);
}
