.rich-text-editor-panel {
    background-color: var(--gray-ultralight);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.rich-text-editor-panel.hiding {
    display: none;
}

.rich-text-editor:focus-within .rich-text-editor-panel.hiding {
    display: block;
}

.rich-text-editor-panel .group {
    display: inline-block;
}

@media only screen and (min-width: 576px) {
    .rich-text-editor-panel .group {
        margin-right: .75rem;
    }
}

@media only screen and (max-width: 575px) {
    .rich-text-editor-panel .group {
        margin-right: .5rem;
    }
}
