.rich-text-editor-dropzone {
    border: 2px dashed var(--bs-info);
    margin-top: .2rem;
}

.rich-text-editor-dropzone.drag-accept {
    border: 2px solid var(--bs-primary);
}

.rich-text-editor-dropzone.drag-reject {
    border: 2px solid var(--bs-danger);
}

.rich-text-editor-dropzone .upload {
    color: var(--bs-gray);
    text-align: center;
    line-height: 1.2;
    padding: .5em;
}

.rich-text-editor-dropzone .upload LABEL {
    font-size: smaller;
    margin-right: .5em;
}

.rich-text-editor-dropzone .upload INPUT {
    font-size: smaller;
    vertical-align: text-top;
}

.rich-text-editor-dropzone .upload INPUT:checked {
    background-color: var(--bs-info);
    border-color: var(--bs-info);
}
