.rich-text-editor {
    height: min-content;
    padding: 0;
}

.rich-text-editor:focus-within {
    border-color: var(--input-focus-border);
    outline: 0;
    box-shadow: 0 0 0 .2rem var(--input-focus-shadow);
}

.rich-text-editor TEXTAREA {
    display: block;
    width: calc(100% - 1.5rem);
    border: 0;
    margin: .375rem .75rem;
}
