.rich-text-editor-button {
    font-size: 1.2em;
    border: 0;
    background-color: transparent;
    color: var(--gray);
    padding: .25em .5em;
}

.rich-text-editor-button:hover {
    background-color: var(--highlight);
    color: var(--gray-dark);
}
