.rich-text-editor-uploaded-image {
    display: inline-block;
    position: relative;
    margin-inline-end: .5rem;
}

.rich-text-editor-uploaded-image .thumbnail {
    width: 99px;
    height: 99px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border-radius: .5rem;
}

.rich-text-editor-uploaded-image.dragged .thumbnail {
    visibility: hidden;
}

.rich-text-editor-uploaded-image .menu {
    position: absolute;
    right: .25rem;
    top: .25rem;
    background-color: white;
    color: var(--bs-gray-600);
    border: 1px solid var(--bs-gray-400);
    border-radius: .6rem;
    padding: 0;
    font-size: 50%;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1;
    cursor: pointer;
}
