#connections .connection {
    padding: 0.5em;
    cursor: pointer;
}

#connections .connection.active {
    cursor: auto;
    background-color: var(--highlight-cyan);
}

#connections .connection:hover {
    background-color: var(--highlight);
}

#connections .connection.active:hover {
    background-color: var(--highlight-cyan);
}

#connections .connection .node-name {
    font-size: 120%;
}

#connections .connection .no-name {
    font-size: 120%;
    font-style: italic;
    color: var(--gray);
}

#connections .connection .connected {
    color: var(--gray);
}

#connections .connection-add {
    color: var(--primary);
    cursor: pointer;
    font-size: 120%;
    padding: 0.5em;
}

#connections .connection-add:hover {
    background-color: var(--highlight);
}
