#connections .connection {
    padding: 0.5em;
    cursor: pointer;
}

#connections .connection.active {
    cursor: auto;
    border-left: 3px solid var(--green-light);
}

#connections .connection:hover {
    background-color: var(--highlight);
}

#connections .connection.active:hover {
    background-color: transparent;
}

#connections .connection .node-name {
    font-size: 120%;
}

#connections .connection .connected {
    color: var(--gray-light);
}

#connections .connection-add {
    color: var(--primary);
    cursor: pointer;
    font-size: 120%;
    padding: 0.5em;
}

#connections .connection-add:hover {
    background-color: var(--highlight);
}
