#connections {
    padding: 1rem;
    width: 25rem;
}

#connections .connection-item .connection {
    display: block;
    cursor: pointer;
    border-radius: .25rem;
    padding: .75rem 4rem .75rem 1rem;
}

#connections .connection-item .connection:hover {
    background-color: var(--highlight);
}

#connections .connection-item.active .connection {
    background: var(--primary-50);
}

#connections .connection-item.active + .connection-item {
    padding-top: .5rem;
    margin-top: .5rem;
    border-top: 1px solid var(--bs-gray-200);
}

#connections .connection-item .connection .node-name {
    display: block;
    padding-bottom: .25rem;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 120%;
    color: var(--bs-gray-900);
    text-decoration: none;
}

#connections .connection-item.active .connection .node-name {
    color: var(--primary-800);
}

#connections .connection-item .connection .no-name {
    padding-bottom: .25rem;
    font-weight: 600;
    font-size: 1.25rem;
    font-style: italic;
    line-height: 120%;
    color: var(--bs-gray-600);
}

#connections .connection-item .connection .location {
    display: block;
    padding-bottom: .25rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: var(--bs-gray-900);
}

#connections .connection .connected {
    font-weight: 400;
    font-size: .88rem;
    line-height: 150%;
    color: var(--bs-gray-600);
}

#connections .connection-item .disconnect {
    padding: .25rem 1rem;
    color: var(--bs-gray-900);
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 150%;
    cursor: pointer;
    margin-top: .5rem;
}

#connections .connection-item .disconnect:hover {
    text-decoration: underline;
}

#connections .connection-add {
    padding: .75rem 1rem .25rem;
    color: var(--secondary-800);
    cursor: pointer;
    font-weight: 500;
    font-size: 1.12rem;
    line-height: 150%;
    display: flex;
    gap: .5rem;
}

#connections .connection-item + .connection-add {
    margin-top: .5rem;
    border-top: 1px solid var(--bs-gray-200);
}

#connections .connection-add:hover {
    text-decoration: underline;
}
