.checkbox-field-label {
    margin-right: 0.3rem;
    position: relative;
}

.form-control.checkbox-control-single {
    width: auto;
}

.form-control.is-invalid {
    padding-right: 0.75rem;
}
.form-control.is-valid {
    padding-right: 0.75rem;
}
