#main-menu {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: var(--zindex-page-header);
    background-color: white;
}

@media only screen and (min-width: 992px) {
    #main-menu {
        height: calc(4.25rem - 1px);
        border-bottom: 1px solid var(--body-bg);
    }

    #main-menu.transparent {
        background-color: rgb(255 255 255 / 90%);
        border-bottom-color: var(--bs-gray-300);
        backdrop-filter: blur(3px);
    }

    #main-menu .main-menu-content {
        display: grid;
        grid-template-columns: 1fr 30rem 1fr;
        align-items: center;
        max-width: calc(var(--feed-width) + 45.5rem);
        height: 100%;
        margin: 0 auto;
    }

    #main-menu .main-menu-left-pane {
        grid-column: 1;
        justify-self: start;
        margin-left: 2rem;
    }

    #main-menu .main-menu-center-pane {
        grid-column: 2;
        justify-self: center;
    }

    #main-menu .main-menu-right-pane {
        grid-column: 3;
        justify-self: end;
        margin-right: 2rem;
    }
}
