#invitation-alert {
    width: 100%;
    height: 3.5rem;
    background-color: var(--invitation);
    font-weight: 400;
    line-height: 150%;
    color: var(--bs-gray-900);
    display: grid;
    place-items: center;
}

#invitation-alert .sign-up {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    #invitation-alert {
        position: sticky;
        top: calc(var(--page-header-height) - 3.5rem);
        z-index: var(--zindex-invitation-alert);
    }
}

@media only screen and (max-width: 991px) {
    #invitation-alert {
        position: fixed;
        bottom: 0;
        z-index: var(--zindex-page-header);
    }
}
