@media only screen and (max-width: 991px) {
    #main-menu {
        height: 4rem;
        padding: .75rem 1rem;
        display: grid;
        grid-template-columns: 1.5rem auto 2.5rem max-content;
        gap: .5rem;
        align-items: center;
    }

    #main-menu.shadow {
        box-shadow: var(--menu-shadow);
        transition: box-shadow .2s ease;
    }

    #main-menu #sandwich {
        grid-column: 1;
    }

    #main-menu #logo {
        grid-column: 2;
        padding-left: .25rem;
        padding-top: .1rem;
    }

    #main-menu .btn-tool-round {
        width: 2.5rem;
        height: 2.5rem;
        display: grid;
        place-items: center;

        --bs-btn-color: var(--bs-gray-600);
    }

    #main-menu .btn-primary {
        width: 6.5rem;
        height: 2.5rem;
    }

    #main-menu-sentinel {
        block-size: 1px;
        margin-block-end: -1px;
    }
}
