.avatar-circle {
    border-radius: 50%;
}

.avatar-square {
    border-radius: 15%;
}

.avatar-placeholder {
    background-color: #fecba1;
    color: #ca6510;
    font-weight: 400;
    display: grid;
    place-items: center;
}
