.emoji-selector .choice {
    flex: none;
    position: relative;
    width: 3rem;
    height: 3.3rem;
    text-align: center;
    padding-top: .6rem;
    padding-bottom: .3rem;
    border: none;
    background-color: transparent;
    transition: .15s all ease-in-out;
}

.emoji-selector .choice:hover {
    transform: scale(1.3);
    transition: .15s all ease-in;
}

.emoji-selector .choice.dimmed {
    filter: opacity(20%);
}

.emoji-selector .choice.dimmed:hover {
    filter: opacity(60%);
}

.emoji-selector .choice IMG {
    vertical-align: baseline;
}

.emoji-selector .choice .twemoji {
    vertical-align: baseline;
}

.emoji-selector .choice .svg-inline--fa {
    vertical-align: .125em;
}
