.feed-top-box {
    position: absolute;
    z-index: var(--zindex-feed-top-button);
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
}

@media only screen and (min-width: 576px) {
    .feed-top-box {
        bottom: -.8rem;
    }
}

@media only screen and (max-width: 575px) {
    .feed-top-box {
        bottom: -2.2rem;
    }
}

.feed-top-button {
    background-color: var(--primary-50);
    color: var(--primary-600);
    display: inline-block;
    padding: .15rem .8rem .4rem .5rem;
    border-radius: 1em;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .16);
    cursor: pointer;
    font-size: .875rem;
    font-weight: 400;
}

.feed-top-button:hover {
    background-color: var(--primary-600);
    border-color: var(--primary-600);
    color: white;
}

.feed-top-button .title {
    position: relative;
    top: .1em;
    color: var(--primary-800);
}

.feed-top-button:hover .title {
    color: white;
}

.feed-top-button .new {
    background-color: var(--bs-blue);
    color: white;
    font-weight: bold;
    padding: .15em .35em .15em .3em;
    border-radius: .3em;
    margin-left: .5em;
}
