.feed-top-box {
    position: fixed;
    z-index: var(--zindex-feed-top-button);
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
}

.feed-top-button {
    background-color: var(--brand-50);
    color: var(--bs-primary);
    display: inline-block;
    padding: .15rem .8rem .4rem .5rem;
    border-radius: 1em;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 16%);
    cursor: pointer;
    font-size: .875rem;
    font-weight: 400;
}

.feed-top-button:hover {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: white;
}

.feed-top-button .title {
    position: relative;
    top: .1em;
    color: var(--bs-brand-600);
}

.feed-top-button:hover .title {
    color: white;
}

.feed-top-button .new {
    position: relative;
    top: .1em;
    background-color: var(--bs-blue);
    color: white;
    font-weight: bold;
    padding: .15em .35em .15em .3em;
    border-radius: .3em;
    margin-left: .5em;
}
