.loading {
    display: inline-block;
}

.loading-overlay:has(.loading) {
    position: absolute;
    inset: 0;
    background-color: white;
    border-radius: 1rem;
    opacity: .6;
    z-index: var(--zindex-overlay-loading);
    display: grid;
    place-items: center;
}
