.modal-backdrop.risen {
    z-index: 1080;
}

.modal {
    display: block;
}

.modal.risen {
    z-index: 1090;
}

.modal-children {
    max-height: calc(100vh - 8.5rem);
    overflow-x: hidden;
    overflow-y: auto;
}
