.modal-backdrop.risen {
    z-index: var(--zindex-risen-modal-backdrop);
}

.modal {
    display: block;
}

.modal.risen {
    z-index: var(--zindex-risen-modal);
}

.modal-children {
    max-height: calc(100vh - 8.5rem);
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: none;
}
