.name-select {
    border: solid 1px var(--bs-gray-400);
    border-radius: 5px;
    max-height: 19em;
    overflow: hidden auto;
    overscroll-behavior-y: none;
}

.name-select .item {
    padding: .25em .5em;
    cursor: pointer;
}

.name-select .item.selected, .name-select .item.selected:hover {
    background-color: var(--bs-primary);
    color: white;
}

.name-select .item:hover {
    background-color: var(--highlight);
}

.name-select .item.selected .name {
    color: var(--bs-gray-100);
}

.name-select .item .body {
    color: var(--bs-body-color);
}

.name-select .item.selected .body,
.name-select .item.selected:hover .body {
    color: white;
}
