.reactions {
    font-size: 0.9rem;
    font-weight: 600;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    margin-top: 0.2rem;
}

.reactions .emojis {
    font-family: sans-serif;
    font-size: 1rem;
    margin-right: 0.5rem;
}

.reactions .positive {
    margin-right: 1.3rem;
    color: var(--correct);
    background-color: var(--reactions-positive);
    border-radius: .8rem;
    padding: .4rem 1rem;
}

.reactions .positive:hover {
    text-decoration: underline;
    cursor: pointer;
}

.reactions .negative {
    color: var(--incorrect);
    background-color: var(--reactions-negative);
    border-radius: .8rem;
    padding: .4rem 1rem;
}

.reactions .negative:hover {
    text-decoration: underline;
    cursor: pointer;
}
