.signature-verify {
    cursor: pointer;
}

.signature-verify-running {
    color: darkcyan;
}

.signature-verify-correct {
    color: forestgreen;
}

.signature-verify-incorrect {
    color: firebrick;
}
