:root {
    --nav-pills-link-hover-bg: var(--highlight-blue);
    --nav-pills-link-active-hover-bg: var(--bs-primary);
    --nav-link-arrow-color: var(--bs-nav-link-color);
    --nav-link-active-arrow-color: var(--nav-link-arrow-color);
}

.nav.nav-tabs .nav-link, .nav.nav-pills .nav-link {
    cursor: pointer;
}

.nav.nav-tabs .nav-link.active {
    cursor: default;
}

.nav.nav-pills .nav-link.active .principal {
    color: var(--bs-nav-pills-link-active-color);
}

.nav.nav-pills .nav-link.active:hover {
    background-color: var(--nav-pills-link-active-hover-bg);
}

.nav.nav-pills .nav-link:hover {
    background-color: var(--nav-pills-link-hover-bg);
}

.nav.nav-pills .nav-link A {
    color: var(--bs-nav-link-color);
}

.nav.nav-pills .nav-link A:hover {
    text-decoration: none;
    color: var(--bs-nav-link-hover-color);
}

.nav.nav-pills .nav-link .arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
}

.nav.nav-pills .nav-link .arrow-wrapper svg {
    color: var(--nav-link-arrow-color);
}

.nav.nav-pills .nav-link.active .arrow-wrapper svg {
    color: var(--nav-link-active-arrow-color);
}

.nav.nav-tabs .nav-item, .nav.nav-pills .nav-item {
    text-wrap: nowrap;
    user-select: none;
}

.nav.nav-tabs, .nav.nav-pills {
    flex-wrap: nowrap;
}

.nav.nav-tabs.scroll-always, .nav.nav-pills.scroll-always {
    overflow-x: auto;
    overflow-y: hidden;
}

.nav.nav-tabs.scroll-always.flex-column, .nav.nav-pills.scroll-always.flex-column {
    overflow-x: hidden;
    overflow-y: auto;
}

@media only screen and (max-width: 991px) {
    .nav.nav-tabs.scroll-mobile, .nav.nav-pills.scroll-mobile {
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: none;
    }

    .nav.nav-tabs.scroll-mobile.flex-column, .nav.nav-pills.scroll-mobile.flex-column {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.nav.nav-tabs .nav-link .badge, .nav.nav-pills .nav-link .badge {
    background-color: var(--bs-gray-100);
    color: var(--bs-gray-600);
    margin-left: .75em;
    vertical-align: .075em;
}

.nav.nav-tabs .nav-link.active.add-tab {
    cursor: pointer;
    margin-left: 1rem;
    padding-bottom: .4rem;
    color: var(--bs-nav-link-color);
}

.nav.nav-tabs .nav-link.active.add-tab:hover {
    background-color: var(--highlight);
    color: var(--bs-nav-tabs-link-active-color);
}
