.underlined-tabs {
    display: flex;
    background-color: white;
    border-radius: .5rem;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    flex-wrap: nowrap;

    --underlined-tabs-tab-hover-color: var(--bs-gray-700);
    --underlined-tabs-tab-hover-bg: var(--bs-gray-100);
    --underlined-tabs-tab-hover-underline: var(--bs-brand-100);
    --underlined-tabs-tab-active-color: var(--bs-gray-800);
    --underlined-tabs-tab-active-bg: transparent;
    --underlined-tabs-tab-active-underline: var(--bs-primary);
}

@media only screen and (max-width: 991px) {
    .underlined-tabs {
        margin-bottom: .75rem;
    }
}

.underlined-tabs .tab-scroller {
    flex: auto;
    display: flex;
    flex-wrap: nowrap;
    padding-top: .25rem;
    overflow: auto hidden;
    scrollbar-width: none;
}

.underlined-tabs .tab {
    flex: none;
    background-color: transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid transparent;
    padding: .5rem 1rem;
    margin-right: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--bs-gray-600);
    transition: background-color .15s ease-in-out, color .15s ease-in-out, border-bottom-color .15s ease-in-out;
    text-wrap: nowrap;
}

.underlined-tabs .tab:hover {
    color: var(--underlined-tabs-tab-hover-color);
    background-color: var(--underlined-tabs-tab-hover-bg);
    border-bottom-color: var(--underlined-tabs-tab-hover-underline);
    transition: background-color .15s ease-in-out;
}

.underlined-tabs .tab.active {
    color: var(--underlined-tabs-tab-active-color);
    background-color: var(--underlined-tabs-tab-active-bg);
    border-bottom-color: var(--underlined-tabs-tab-active-underline);
    transition: background-color .15s ease-in-out, color .15s ease-in-out, border-bottom-color .15s ease-in-out;
    cursor: default;
}

.underlined-tabs .tab .twemoji {
    vertical-align: -.25em;
}
