.video-duration {
    position: absolute;
    inset: 0;
    color: rgb(255 255 255 / 90%);
    display: flex;
    align-items: center;
    place-content: center;
    z-index: var(--zindex-text-overlay);
}

.video-duration:has(~ .preload-placeholder) {
    display: none;
}

.video-duration SPAN {
    font-size: 1.75rem;
    font-weight: bold;
    text-shadow: 0 0 2px rgb(0 0 0 / 75%);
    margin-left: .5rem;
}

.video-duration svg {
    filter: drop-shadow(0 0 2px rgb(0 0 0 / 75%));
    font-size: 32px;
}

@container image-block (width < 160px) {
    .video-duration SPAN {
        font-size: 1rem;
        margin-left: .25rem;
    }

    .video-duration svg {
        font-size: 16px;
    }
}
