@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("fonts/Montserrat-SemiBold.woff") format('woff');
    font-weight: 700;
}

:root:root {
    scroll-behavior: auto;
    scrollbar-gutter: stable;

    --bs-font-sans-serif: -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
        "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-messages: "Montserrat", var(--bs-font-sans-serif);
}

HTML {
    font-size: 90%;
    height: 100%;
}

BODY {
    background-color: var(--body-bg);
    padding-bottom: 2rem;
    height: 100%;
}

@media only screen and (max-width: 991px) {
    BODY .dropdown-menu {
        --bs-dropdown-font-size: 1.1rem;
    }
}

BODY.no-scroll {
    overflow: hidden;
}

#app-root {
    height: 100%;
}

A, .btn-link {
    text-decoration: none;
}

ABBR[title] {
    cursor: pointer !important;
}

DETAILS {
    cursor: pointer;
}

DETAILS[open] {
    cursor: unset;
}

BLOCKQUOTE {
    border-left: 3px solid var(--bs-cyan);
    padding: .2rem .2rem .2rem 2.7rem;
    position: relative;
    overflow: hidden;
}

BLOCKQUOTE BLOCKQUOTE {
    padding-left: 1.5rem;
}

BLOCKQUOTE:not(BLOCKQUOTE BLOCKQUOTE)::before {
    content: "\201C";
    font-family: serif;
    font-size: 4rem;
    color: var(--bs-cyan);
    position: absolute;
    left: .5rem;
    top: -1.5rem;
}

BLOCKQUOTE BLOCKQUOTE:last-child, BLOCKQUOTE P:last-child {
    margin-bottom: 0;
}

.emoji {
    background-repeat: no-repeat;
    color: transparent;
    display: inline-block;
    min-width: 1.3em;
}

.dialog-help {
    border: solid 1px cornsilk;
    border-radius: 5px;
    padding: .5em;
    margin-bottom: .5rem;
    margin-top: -.5rem;
    background-color: floralwhite;
}

.dialog-help .btn-close {
    float: right;
}

.content-panel {
    display: flow-root;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 991px) {
    .content-panel {
        border-radius: 0;
        padding-bottom: 3rem;
    }
}

.react-datepicker {
    line-height: var(--bs-body-line-height);
}

.react-datepicker-popper {
    z-index: var(--zindex-popover);
}

.react-datepicker__navigation-icon {
    line-height: 20px;
}

.react-datepicker__portal .react-datepicker__navigation-icon {
    line-height: 12px;
}
