HTML {
    font-size: 90%;
}

BODY {
    background-color: var(--body-background);
    padding-bottom: 2rem;
}

ABBR[title] {
    cursor: pointer !important;
}

.container {
    max-width: 900px;
}

.popover {
    pointer-events: none;
}

.popover.show {
    pointer-events: auto;
}

.dialog-help {
    border: solid 1px cornsilk;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
    background-color: floralwhite;
}
