HTML {
    font-size: 90%;
}

BODY {
    background-color: var(--body-background);
    padding-bottom: 2rem;
}

ABBR[title] {
    cursor: pointer !important;
}

.emoji {
    background-repeat: no-repeat;
    color: transparent;
    display: inline-block;
    min-width: 1.3em;
}

.container {
    max-width: 900px;
    padding-left: .25rem;
    padding-right: .25rem;
}

.popover {
    pointer-events: none;
}

.popover.show {
    pointer-events: auto;
}

.dialog-help {
    border: solid 1px cornsilk;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
    background-color: floralwhite;
}
