:root {
    --body-background: #e9ebee;
    --highlight: rgba(0, 0, 0, .05);
    --highlight-blue: rgba(0, 123, 255, .1);
    --highlight-cyan: #f0fafa;

    /*
     * Bootstrap gray colors
     *
     * --bs-gray-900: #212529;
     * --bs-gray-800: #343a40; (dark)
     * --bs-gray-700: #495057;
     * --bs-gray-600: #6c757d; (normal)
     * --bs-gray-500: #adb5bd; (medium)
     * --bs-gray-400: #ced4da; (light)
     * --bs-gray-300: #dee2e6;
     * --bs-gray-200: #e9ecef; (ultralight)
     * --bs-gray-100: #f8f9fa;
     */
    --bs-blue-100: #cfe2ff;
    --bs-blue-200: #9ec5fe;

    --cyan-light: #96d6e0;
    --green-light: #42d042; /* forest green + 20% lighter */
    --red-light: #df5a5a; /* fire brick + 20% lighter */

    --verifying: var(--bs-cyan);
    --correct: forestgreen;
    --incorrect: var(--bs-red);
    --correct-light: var(--green-light);
    --incorrect-light: var(--red-light);
    --node-name: #385898;
    --node-name-ts: #389858;

    --status-icon: rgba(255, 255, 255, .5);
    --status-icon-highlight: rgba(255, 255, 255, .75);
    --shadow: rgba(0, 0, 0, .75);

    --reactions-positive: #e9fce5;
    --reactions-negative: #feeff0;
    --reactions-positive-border: #cddfc9;
    --reactions-negative-border: #e1d3d4;
    --comments: #f8faff;
    --comment-compose: #e0faff;

    --link: var(--bs-blue);
    --link-hover: #0056b3;
    --link-button: #385898;

    --input-focus-border: #80bdff;
    --input-focus-shadow: rgba(0,123,255,.25);
}
