@media only screen and (min-width: 992px) {
    .modal-dialog.donate-dialog {
        max-width: 550px;
    }
}

.donate-dialog .recipient {
    margin-bottom: 1rem;
    font-size: larger;
}

.donate-dialog .recipient .name {
    font-weight: 600;
}

.donate-dialog .fundraisers {
    display: flex;
    flex-wrap: wrap;
}

.donate-dialog .fundraisers .nav {
    flex: 1 0 10em;
}

.donate-dialog .fundraisers .nav .nav-link svg {
    vertical-align: -.3em;
}

.donate-dialog .fundraisers .info {
    flex: 4 1 calc(256px + 2rem);
    min-height: calc(256px + 4rem);
    display: grid;
    place-content: center;
    padding: 1rem;
}

.donate-dialog .fundraisers .info A.info-qr {
    display: block;
    text-align: center;
    color: var(--bs-gray-900);
}

.donate-dialog .fundraisers .info A.info-qr svg {
    margin-bottom: .25rem;
}

.donate-dialog .fundraisers .info A.info-qr .description {
    overflow-wrap: anywhere;
    font-family: var(--bs-font-monospace), monospace;
    font-size: 80%;
}

.donate-dialog .fundraisers .info A.info-qr:hover .description {
    text-decoration: underline;
}
