.domain-field {
    display: flex;
    align-items: center;
    font-family: var(--bs-font-monospace), monospace;
}

.domain-field .hostname {
    color: var(--bs-primary);
}

.domain-field .domain {
    flex: auto;
    min-width: 0;
}

.domain-field .suffix {
    flex: none;
    margin-left: .2em;
}

.domain-field BUTTON {
    position: absolute;
    top: 0;
    right: 0;
    font-family: var(--bs-body-font-family);
}
