.avatar-editor {
    cursor: pointer;
    position: relative;
    width: min-content;
    margin-bottom: .7rem;
    padding: .5rem;

    --bs-popover-border-width: 1px;
}

.avatar-editor .icon {
    position: absolute;
    top: 0;
    right: 0;
}

.avatar-editor .icon:has(+ .avatar-square) {
    right: -2rem;
}
