.avatar-selector {
    margin: .75rem;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    cursor: default;
    width: max-content;
    max-height: calc(312px + 3.5rem);
    overflow: hidden auto;
    overscroll-behavior-y: none;
}

@media only screen and (max-width: 991px) {
    .avatar-selector {
        max-width: min(calc(312px + 2.5rem), calc(100vw - 6rem));
    }
}

@media only screen and (min-width: 992px) {
    .avatar-selector {
        max-width: min(calc(520px + 3.5rem), calc(100vw - 6rem));
    }
}

.avatar-selector .item {
    padding: .25rem;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.avatar-selector .item:hover {
    background-color: var(--bs-gray-100);
}

.avatar-selector .item.active, .avatar-selector .item.active:hover {
    border: 2px solid var(--bs-primary);
    cursor: default;
}

.avatar-selector .item .menu {
    position: absolute;
    right: .25rem;
    top: .25rem;
    background-color: white;
    color: var(--bs-gray-600);
    border: 1px solid var(--bs-gray-400);
    border-radius: .6rem;
    padding: 0;
    font-size: 50%;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1;
}

.avatar-selector .create {
    display: grid;
    place-items: center;
    width: calc(100px + .5rem);
    height: calc(100px + .5rem);
    border-radius: 10px;
}
