.scale {
    display: flex;
    width: calc(300px + 1em);
    height: 1.5em;
    align-items: flex-start;
}

.scale BUTTON {
    padding: 0 .25em;
    margin: 0 .5em;
    border-radius: .25em;
}

.scale INPUT {
    flex: auto;
}
