.lightbox-toolbar {
    position: absolute;
    inset-block-start: 0;
    inset-inline: 0;
    block-size: var(--lightbox-toolbar-size);
    display: grid;
    grid-template-columns: minmax(0, 1fr) max-content;
    align-items: center;
    background-color: rgb(0 0 0 / 50%);
}

.lightbox-toolbar-side {
    block-size: var(--lightbox-toolbar-size);
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    align-items: center;
}

.lightbox-toolbar-left-side {
    min-inline-size: 0;
    padding-inline: var(--lightbox-toolbar-padding) 0;
    overflow: hidden;
}

.lightbox-toolbar-right-side {
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: end;
    padding-inline: 0 var(--lightbox-toolbar-padding);
}

.lightbox-toolbar-item {
    min-inline-size: 0;
    max-inline-size: 100%;
    block-size: 100%;
    color: white;
    font-size: 120%;
    display: grid;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lightbox-toolbar-item-child {
    min-inline-size: 0;
    max-inline-size: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width: 991px) {
    .lightbox-zoom-button {
        display: none;
    }
}
