.lightbox-button {
    inline-size: 40px;
    block-size: 35px;
    cursor: pointer;
    border: none;
    opacity: .7;
    background: transparent;
    color: #fff;
    display: inline-grid;
    place-items: center;
    padding: 0;
}

.lightbox-button:hover {
    color: #fff;
    opacity: 1;
}

.lightbox-button:active {
    outline: none;
}

.lightbox-button-disabled {
    cursor: default;
    opacity: .5;
}

.lightbox-button-disabled:hover {
    opacity: .5;
}
