/* Based on react-image-lightbox 5.1.4 by Chris Fritz (MIT License). */

.lightbox-image {
    position: absolute;
    inset: 0;
    margin: auto;
    max-inline-size: none;
    touch-action: none;
    user-select: none;
}

.lightbox-loading-container,
.lightbox-error-container {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
}

.lightbox-error-container {
    color: white;
}

:is(.lightbox-image-prev, .lightbox-image-next) :is(.lightbox-loading-container, .lightbox-error-container) {
    display: none;
}
