/* Based on react-image-lightbox 5.1.4 by Chris Fritz (MIT License). */

.lightbox-caption {
    position: absolute;
    inset-inline: 0;
    inset-block-end: 0;
    max-block-size: 150px;
    overflow: auto;
    overscroll-behavior: contain;
    background-color: rgb(0 0 0 / 50%);
}

.lightbox-caption-content {
    padding: .75rem 1.25rem;
    color: white;
}

.lightbox-caption-content P:last-child {
    margin-bottom: 0;
}
