/* Based on react-image-lightbox 5.1.4 by Chris Fritz (MIT License). */

@keyframes close-window {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.lightbox-outer {
    --lightbox-toolbar-size: 50px;
    --lightbox-toolbar-padding: 20px;
    --lightbox-nav-width: 60px;

    position: relative;
    background-color: rgb(0 0 0 / 85%);
    outline: none;
    inset: 0;
    z-index: 1000;
    inline-size: 100%;
    block-size: 100%;
    overscroll-behavior: contain;
    touch-action: none;
    user-select: none;
}

.lightbox-outer-closing {
    opacity: 0;
}

.lightbox-outer-animating {
    animation-name: close-window;
}

.lightbox-inner {
    position: absolute;
    inset: 0;
}

.lightbox-outer.transparent :is(.lightbox-toolbar, .lightbox-nav-buttons, .lightbox-caption) {
    opacity: 0;
    transition: opacity .5s ease;
    pointer-events: none;
}
