.lightbox-video {
    position: absolute;
    inset: 0;
    margin: auto;
    touch-action: auto;
    user-select: none;
}

.lightbox-video-player {
    --media-border-radius: 0;

    inline-size: 100%;
    block-size: 100%;
}

:is(.lightbox-video-prev, .lightbox-video-next) {
    display: none;
}

.lightbox-video-loading {
    position: absolute;
    inset: 0;
    z-index: var(--zindex-overlay-loading);
    display: grid;
    place-items: center;
    pointer-events: none;
}
