/* Based on react-image-lightbox 5.1.4 by Chris Fritz (MIT License). */

.ril__caption {
    position: absolute;
    inset-inline: 0;
    inset-block-end: 0;
    max-block-size: 150px;
    overflow: auto;
    overscroll-behavior: contain;
    background-color: rgb(0 0 0 / 50%);
}

.ril__captionContent {
    padding: .75rem 1.25rem;
    color: white;
}
