.lightbox-reactions {
    position: absolute;
    top: 50px;
}

.lightbox-reaction-button {
    display: block;
    position: absolute;
    color: white;
    opacity: .7;
    background-color: transparent;
    border: 0;
    width: 2rem;
    height: 2rem;
    padding: 0;
    line-height: 1;
}

.lightbox-reaction-button:hover {
    opacity: 1;
}

.lightbox-reaction-button .caption {
    display: none;
}

.lightbox-reactions .reactions {
    line-height: 1;
}

.lightbox-reactions .reactions .positive, .lightbox-reactions .reactions .negative {
    position: absolute;
    top: 0;
    margin-right: 0;
    opacity: .7;
}

@media only screen and (min-width: 992px) {
    .lightbox-reactions {
        right: 1rem;
    }

    .lightbox-reaction-button {
        right: 0;
        font-size: 120%;
    }

    .lightbox-reaction-button.positive {
        top: 1.9rem;
    }

    .lightbox-reaction-button.negative {
        top: 4.9rem;
    }

    .lightbox-reactions .reactions .positive {
        right: -.75rem;
    }

    .lightbox-reactions .reactions .negative {
        top: 6.9rem;
        right: -.75rem;
    }
}

@media only screen and (max-width: 991px) {
    .lightbox-reactions {
        left: 0;
        width: 100%;
    }

    .lightbox-reaction-button {
        top: -.1rem;
    }

    .lightbox-reaction-button.positive {
        right: calc(50vw + .5rem);
    }

    .lightbox-reaction-button.negative {
        left: calc(50vw + .5rem);
    }

    .lightbox-reactions .reactions .positive {
        right: calc(50vw + 2.5rem);
    }

    .lightbox-reactions .reactions .negative {
        left: calc(50vw + 2.5rem);
    }
}
