.lightbox-button {
    width: 40px;
    height: 35px;
    display: inline-block;
    color: white;
    background: transparent;
    border: 0;
    opacity: 0.7;
    font-size: 110%;
    vertical-align: top;
}

.lightbox-button:hover {
    color: white;
    opacity: 1;
}

.lightbox-download {
    padding: 1px 0 1px 10px;
}

@media only screen and (min-width: 576px) {
    .ril__navButtons {
        height: calc(100vh - 100px - 13rem) !important;
    }
}
