.lightbox-button {
    width: 40px;
    height: 35px;
    display: inline-block;
    color: white;
    background: transparent;
    border: 0;
    opacity: 0.7;
    font-size: 110%;
    vertical-align: top;
}

.lightbox-button:hover {
    color: white;
    opacity: 1;
}

.lightbox-download {
    padding: 1px 0 1px 10px;
}
