@media only screen and (max-width: 991px) {
    .people-page .person .contact-statuses {
        margin-top: .25rem;
        line-height: 120%;
    }
}

@media only screen and (min-width: 992px) {
    .people-page .person .contact-statuses {
        display: inline;
        margin-left: .5rem;
    }
}

.people-page .person .contact-status {
    font-size: .75rem;
    font-weight: normal;
    color: var(--bs-gray-600);
    text-wrap: nowrap;
    border: 1px solid var(--bs-gray-600);
    border-radius: .75rem;
    padding: .1rem .5rem;
    vertical-align: .15rem;
}
