.people-page {
    background-color: white;
    border-radius: .25rem;
    padding: 1rem;
    min-height: 25vh;
}

.people-page .person {
    margin-bottom: .3rem;
    margin-right: .5rem;
}

.people-page .person .avatar {
    display: inline-block;
    margin-right: .5rem;
}
