.people-page .person {
    margin-bottom: .3rem;
    margin-right: 1rem;
    padding-right: .5rem;
    border-radius: 5px;
    width: min(15rem, 95vw);
    display: inline-flex;
    align-items: center;
}

.people-page .person:hover {
    background-color: var(--highlight);
}

.people-page .person .avatar {
    margin-right: .5rem;
}

.people-page .person .node-name {
    flex: auto;
}
