.people-page.content-panel {
    min-height: 25vh;
}

@media only screen and (min-width: 576px) {
    .people-page.content-panel {
        display: flex;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 575px) {
    .people-page {
        padding-bottom: 3rem;
    }
}
