.people-page {
    background-color: white;
    border-radius: .25rem;
    padding: 1rem;
    min-height: 25vh;
}

@media only screen and (max-width: 575px) {
    .people-page {
        padding-bottom: 3rem;
    }
}

.people-page .person {
    margin-bottom: .3rem;
    padding-right: .5rem;
    display: flex;
    align-items: center;
}

.people-page .person .avatar {
    margin-right: .5rem;
}

.people-page .person .node-name {
    flex: auto;
}
