.people-tabs {
    display: flex;
    margin-top: -.5em;
    margin-bottom: 1.5em;
}

.people-tabs .tab {
    flex: 1;
    max-width: 10em;
    cursor: pointer;
    padding: .3rem;
    font-size: larger;
    margin-right: 1rem;
    white-space: nowrap;
    color: var(--bs-gray-600);
}

.people-tabs .tab:hover {
    color: var(--bs-gray-800);
}

.people-tabs .tab .principal {
    margin-left: .6em;
}

.people-tabs .tab.active {
    color: var(--bs-primary);
    cursor: default;
    border-bottom: solid .25rem var(--bs-primary);
}

.people-tabs .tab.active:hover {
    color: var(--bs-primary);
}

.people-tabs .tab.active .principal {
    color: var(--bs-primary);
}

.people-tabs .rest {
    flex: auto;
}
