@media only screen and (min-width: 992px) {
    #logo {
        margin-left: .5rem;
        margin-right: .5rem;
        padding-right: 1rem;
    }
}

@media only screen and (max-width: 991px) {
    #logo {
        margin-left: .5rem;
        padding-right: .5rem;
    }
}
