#owner-navigator {
    margin-bottom: 0;
    flex-wrap: nowrap;
}

#owner-navigator .gap {
    width: 1rem;
}

#owner-navigator .form-group {
    margin-right: .5rem;
    margin-bottom: 0;
    flex: 0 1 auto;
}

#owner-navigator INPUT {
    flex: 0 1 auto;
}
