#owner-name {
    border: var(--dark) 0.1rem solid;
    border-radius: 0.25rem;
    margin-right: 0.7rem;
    text-decoration: none;
    padding: 0.5rem;
    cursor: text;
}

#owner-name:hover {
    border-color: var(--status-icon);
}

#owner-name .node-name {
    color: white;
}

#owner-name .node-name.correct {
    color: var(--correct-light);
}

#owner-name .node-name.incorrect {
    color: var(--incorrect-light);
}

.owner-name-expiring {
    color: gold;
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}
