.entry BLOCKQUOTE {
    border-left: 3px solid var(--bs-cyan);
    padding: 0.2rem 0.2rem 0.2rem 2.7rem;
    position: relative;
    overflow: hidden;
}

.entry BLOCKQUOTE::before {
    content: "\201C";
    font-family: serif;
    font-size: 4rem;
    color: var(--bs-cyan);
    position: absolute;
    left: 0.5rem;
    top: -1.5rem;
}

.entry A:hover {
    text-decoration: underline;
}

.entry > .content IMG {
    width: auto;
    height: auto;
}

.entry > .content IMG.preload-placeholder {
    width: var(--width);
}

.entry > .content FIGCAPTION {
    font-size: smaller;
    line-height: 1.2;
    margin-top: .3em;
}

.entry.single-emoji .content .emoji {
    font-size: 3em;
}
