.posting-button {
    flex: auto;
    max-width: 225px;
    text-align: center;
    color: var(--gray-dark);
    padding: 0.3rem;
    margin-right: 0.3rem;
    cursor: pointer;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
}

.posting-button:hover {
    background-color: var(--highlight);
}

.posting-button .caption {
    margin-left: 0.4rem;
    font-weight: 600;
    font-size: 1rem;
}
