.posting .posting-comments {
    padding-top: .4rem;
}

.posting .total-comments {
    text-decoration: none;
    background-color: var(--comments);
    border-radius: .8rem;
    padding: .4rem 1rem;
}

.posting .total-comments svg {
    vertical-align: -.25rem;
}

.posting .total-comments .caption {
    margin-inline-start: .5em;
}

.posting .total-comments:hover .caption {
    text-decoration: underline;
}
