.posting-sources .title {
    font-size: smaller;
    font-weight: bold;
    border-bottom: solid 1px var(--gray-dark);
    color: var(--gray-dark);
    margin-bottom: .3em;
}

.posting-sources .source {
    padding: .3em 1em .3em .2em;
    color: var(--primary);
}

.posting-sources .source:hover {
    background-color: var(--highlight);
}

.posting-sources .source A {
    color: inherit;
}

.posting-sources .source .icon {
    display: inline-block;
    width: 1.7em;
    color: var(--gray);
}

.posting-sources .source .icon.original {
    color: var(--green);
}
