.posting {
    position: relative;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.posting:not(.not-viewed) {
    background-color: white;
    transition: background-color 3s ease;
}

.posting.not-viewed {
    background-color: #fffee4;
}

@media only screen and (max-width: 991px) {
    .posting {
        margin-bottom: .75rem;
        padding: 1rem 1rem .5rem 1rem;
    }
}

.posting > .content {
    overflow-wrap: break-word;
    text-align: start;
}

.posting.preview > .content {
    overflow-y: auto;
}

@media only screen and (max-width: 991px) {
    .posting.preview > .content {
        max-height: 170vh;
    }
}

@media only screen and (min-width: 992px) {
    .posting.preview > .content {
        max-height: 100vh;
    }
}

.posting > .content P {
    margin-top: 1rem;
}

.posting > .content P:first-child {
    margin-top: 0;
}

.posting > .content IMG:not(.emoji) {
    width: auto;
    height: auto;
}

@container page-pane (width > 0) {
    .posting > .content IMG, .posting > .content IFRAME, .posting > .content .preload-placeholder {
        max-width: min(100vw - 4rem, 100cqw - 3.5rem, var(--width, 100vw));
        max-height: var(--height, 200vh);
    }
}

.posting.preview > .content IMG, .posting.preview > .content IFRAME, .posting.preview > .content .preload-placeholder {
    max-height: min(35rem, var(--height, 200vh));
}

.posting > .content FIGURE {
    display: inline-block;
}

.posting > .content FIGCAPTION {
    font-size: .875em;
    line-height: 1.5;
    margin-top: .5em;
    color: var(--bs-secondary);
}

.posting > .content .read-more {
    width: 100%;
    font-size: var(--posting-font-magnitude);
    text-align: left;
    padding-left: 0;
    padding-top: 0;
}

.posting > .menu {
    top: 1.2rem;
    right: 1.2rem;
}

@media only screen and (max-width: 991px) {
    .posting > .menu {
        top: .5rem;
        right: .5rem;
    }
}

.posting > .menu .menu-button svg {
    vertical-align: -.2em;
}

.posting > .reactions-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: .75rem;
}
