.posting {
    position: relative;
    background-color: white;
    border: var(--gray-light) 1px solid;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: .5rem;
}

@media only screen and (max-width: 575px) {
    .posting {
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
        margin-bottom: .5rem;
    }
}

.posting > .content {
    overflow-wrap: break-word;
    text-align: start;
}

.posting.preview > .content {
    overflow-y: auto;
}

@media only screen and (max-width: 575px) {
    .posting.preview > .content {
        max-height: 170vh;
    }
}

@media only screen and (min-width: 576px) {
    .posting.preview > .content {
        max-height: 100vh;
    }
}

.posting > .content IMG, .posting > .content IFRAME {
    max-width: min(100vw - 4rem, var(--feed-width) - 3.5rem);
}

.posting.preview > .content IMG, .posting.preview > .content IFRAME {
    max-height: 35rem;
}

.posting > .content .read-more {
    width: 100%;
    text-align: left;
    padding-left: 0;
    padding-top: 0;
}

.posting > .reactions-line {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
