.posting {
    position: relative;
    background-color: white;
    border: var(--gray-light) 1px solid;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.posting BLOCKQUOTE {
    padding: 0.2rem 0.2rem 0.2rem 3rem;
    position: relative;
    background-color: var(--blockquote);
    border-radius: 0.5rem;
}

.posting BLOCKQUOTE::before {
    content: "\201C";
    font-family: serif;
    font-size: 4rem;
    color: var(--cyan);
    position: absolute;
    left: 0.5rem;
    top: -1rem;
}
