.posting .owner-line {
    margin-bottom: 0.3rem;
}

.posting .owner {
    font-weight: bold;
    margin-right: 0.5em;
}

.posting .owner .arrow {
    color: var(--gray-medium);
}

.posting .owner A {
    color: var(--node-name);
}
