.posting > .owner-line {
    margin-bottom: 0.3rem;
}

.posting > .owner-line .owner {
    font-weight: bold;
    margin-right: 0.5em;
}

.posting > .owner-line .owner .arrow {
    color: var(--gray-medium);
}

.posting > .owner-line .owner > A {
    color: var(--node-name);
}
