.domain-field {
    display: flex;
    align-items: center;
}

.domain-field .domain {
    flex: auto;
    min-width: 0;
}

.domain-field .suffix {
    flex: none;
    display: block;
    margin-left: .2em;
    font-family: var(--bs-font-monospace) monospace;
}

.domain-field .domain-name {
    font-family: var(--bs-font-monospace) monospace;
}

.domain-field .domain-auto {
    font-style: italic;
}

.domain-field .domain-name .hostname {
    color: var(--bs-pink);
}

.domain-field BUTTON {
    flex: none;
    margin-left: 1em;
}
