.search-tabs .filter {
    flex: none;
    position: relative;
    background-color: transparent;
    border-radius: .25rem;
    border: none;
    padding: .25rem;
    margin: .25rem -.25rem .25rem .75rem;
    color: var(--bs-gray-600);
    transition: background-color .15s ease-in-out;
}

.search-tabs .filter:hover {
    background-color: var(--highlight);
    transition: background-color .15s ease-in-out;
}

.search-tabs .filter .indicator {
    position: absolute;
    top: .15rem;
    right: 0;
    width: .5rem;
    height: .45rem;
    background-color: var(--bs-primary);
    border-radius: 50%;
}
