.search-tabs {
    display: flex;
    background-color: white;
    border-radius: .5rem;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
}

.search-tabs .tab-scroller {
    flex: auto;
    display: flex;
    flex-wrap: nowrap;
    padding-top: .25rem;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.search-tabs .tab {
    flex: none;
    background-color: transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid transparent;
    padding: .5rem 1rem;
    margin-right: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--bs-gray-600);
    transition: background-color .15s ease-in-out, color .15s ease-in-out, border-bottom-color .15s ease-in-out;
    text-wrap: nowrap;
}

.search-tabs .tab:hover {
    background-color: var(--highlight);
    transition: background-color .15s ease-in-out;
}

.search-tabs .tab.active {
    border-bottom: 2px solid var(--primary-600);
    color: var(--bs-gray-800);
    transition: background-color .15s ease-in-out, color .15s ease-in-out, border-bottom-color .15s ease-in-out;
    cursor: default;
}

.search-tabs .tab.active:hover {
    background-color: transparent;
}

.search-tabs .filter {
    flex: none;
    position: relative;
    background-color: transparent;
    border-radius: .25rem;
    border: none;
    padding: .25rem;
    margin: .25rem -.25rem .25rem .75rem;
    color: var(--bs-gray-600);
    transition: background-color .15s ease-in-out;
}

.search-tabs .filter:hover {
    background-color: var(--highlight);
    transition: background-color .15s ease-in-out;
}

.search-tabs .filter .indicator {
    position: absolute;
    top: .15rem;
    right: 0;
    width: .5rem;
    height: .45rem;
    background-color: var(--bs-primary);
    border-radius: 50%;
}
