.search-page {
    padding-bottom: 1rem;
}

@media only screen and (max-width: 991px) {
    .search-page {
        padding-bottom: calc(var(--page-footer-height) + .25rem);
    }

    .search-page #search-box {
        margin: .25rem;
    }

    .search-page #search-box INPUT {
        width: calc(100% - 1rem);
        height: 2.5rem;
    }

    .search-page #search-box .search-icon {
        top: .6rem;
    }

    .search-page #search-box .cancel {
        top: .2rem;
        right: 1.35rem;
    }

    .search-page .search-suggestions.name-select {
        position: static;
        width: 100%;
        height: calc(100vh - 6.9rem);
        max-height: unset;
        overflow-y: auto;
        box-shadow: unset;
        z-index: unset;
    }
}
