.search-page .show-more {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1.25rem;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .search-page .show-more BUTTON {
        width: 100%;
    }
}

.search-page .nodes .show-more {
    margin-bottom: 0;
    padding: 0 1rem 1rem;
}
