.search-page .show-more {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1.25rem;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .search-page .show-more BUTTON {
        width: 100%;
    }
}
