.search-page {
    padding-bottom: 1rem;
}

@media only screen and (max-width: 575px) {
    .search-page {
        padding-bottom: 2rem;
    }
}

.search-page .search-images {
    color: var(--bs-gray-600);
    font-size: 110%;
}

.search-page .search-images B {
    position: relative;
    top: .1em;
    margin-right: .25em;
}

.search-page .nodes {
    display: grid;
    grid-template-columns: calc(44px + .5rem) auto min-content;
    grid-auto-rows: min-content;
    grid-row-gap: 1rem;
}

.search-page .nodes .person-avatar {
    padding-top: .25rem;
}

.search-page .nodes .node-name {
    line-height: 150%;
}

.search-page .nodes .raw-node-name {
    font-size: .88rem;
    line-height: 143%;
    color: var(--bs-gray-600);
}

.search-page .nodes .title {
    font-size: .88rem;
    line-height: 143%;
}

.search-page .nodes .person-subscribe {
    padding-top: .25rem;
    text-align: right;
}
