.back-box-inner {
    border-radius: 1rem;
    background-color: white;
    transition: box-shadow .2s ease;
}

.back-box-inner.back-box-shadow {
    box-shadow: var(--menu-shadow);
    transition: box-shadow .2s ease;
}

@media only screen and (max-width: 991px) {
    .back-box-inner {
        border-radius: 0;
    }
}
