#back-box {
    display: block;
    position: sticky;
    z-index: var(--zindex-page-header);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#back-box-sentinel {
    block-size: 1px;
    margin-block-end: -1px;
}

@media only screen and (max-width: 991px) {
    #back-box {
        top: 0;
        margin-bottom: .75rem;
        background-color: white;
    }
}

@media only screen and (min-width: 992px) {
    #back-box {
        top: 2.7rem;
        padding-top: .25rem;
        background-color: var(--body-bg);
    }
}

.tabbed-page .mobile-back {
    background-color: white;
}

.tabbed-page .mobile-back.sticky.mobile-back-shadow {
    box-shadow: none;
}

#back-box .mobile-back.sticky.mobile-back-shadow {
    box-shadow: none;
}

.tabbed-page .desktop-back {
    margin-top: 0;
    margin-bottom: -.5rem;
}

.tabbed-page #back-box .underlined-tabs {
    border-radius: 1rem;
}

@media only screen and (max-width: 991px) {
    .tabbed-page #back-box {
        top: 4rem;
    }

    .tabbed-page #back-box .underlined-tabs {
        border-radius: 0;
        padding: 0 .25rem;
    }
}

@media only screen and (min-width: 992px) {
    .tabbed-page #back-box {
        padding-top: 1rem;
    }
}
