.mobile-back {
    display: flex;
    align-items: center;
    gap: .25em;
    height: 4rem;
    padding: .5rem .25rem;
    font-size: 1.4rem;
    line-height: 127%;
    color: var(--bs-gray-900);
}

.mobile-back.sticky {
    position: sticky;
    top: 0;
    z-index: var(--zindex-page-header);
    transition: box-shadow .2s ease;
}

.mobile-back.sticky.mobile-back-shadow {
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 16%);
    transition: box-shadow .2s ease;
}

.mobile-back-sentinel {
    block-size: 1px;
    margin-block-end: -1px;
}
