.mobile-back {
    display: flex;
    align-items: center;
    gap: .25em;
    height: 4rem;
    padding: .5rem .25rem;
    font-size: 1.4rem;
    line-height: 127%;
    color: var(--bs-gray-900);
}

.mobile-back.sticky {
    position: sticky;
    top: 0;
    z-index: var(--zindex-back-box);
    transition: box-shadow .2s ease;
}

.mobile-back.sticky.mobile-back-shadow {
    box-shadow: var(--menu-shadow);
    transition: box-shadow .2s ease;
}

.mobile-back .content {
    flex: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobile-back .menu {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-right: .25rem;
    width: 2.5rem;
}

.mobile-back-sentinel {
    block-size: 1px;
    margin-block-end: -1px;
}
