@media only screen and (min-width: 1200px) {
    .page {
        max-width: calc(var(--feed-width) + 42.5rem);
        display: grid;
        grid-template-columns: minmax(16.5rem, 20.25rem) minmax(600px, var(--feed-width)) minmax(16.5rem, 20.25rem);
        grid-template-rows: auto;
        column-gap: 1rem;
        margin: 0 auto;
        padding: 0 .5rem;
    }

    .page-left-pane {
        grid-column: 1;
    }

    .page-right-pane {
        grid-column: 3;
    }

    .page-central-pane {
        grid-column: 2;
        container-type: inline-size;
        container-name: page-pane;
    }

    .page-centralright-pane {
        grid-column: 2 / 4;
        container-type: inline-size;
        container-name: page-pane;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page {
        display: grid;
        grid-template-columns: minmax(16.5rem, 20.25rem) minmax(600px, var(--feed-width));
        grid-template-rows: auto;
        column-gap: 1rem;
        padding: 0 .5rem;
    }

    .page-left-pane {
        grid-column: 1;
    }

    .page-right-pane {
        display: none;
    }

    .page-central-pane {
        grid-column: 2;
        container-type: inline-size;
        container-name: page-pane;
    }

    .page-centralright-pane {
        grid-column: 2;
        container-type: inline-size;
        container-name: page-pane;
    }
}

@media only screen and (max-width: 991px) {
    .page {
        display: block;
        container-type: inline-size;
        container-name: page-pane;
    }

    .page-left-pane {
        display: none;
    }

    .page-right-pane {
        display: none;
    }
}

.page-title {
    font-family: var(--font-messages), sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 125%;
    color: var(--bs-gray-900);
}
