.flash-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0 0 0 / 70%);
    color: white;
    border-radius: .35rem;
    padding: .5rem .7rem;
    max-width: min(40rem, 90vw);
    z-index: var(--zindex-tooltip);
}

.flash-box.dismissing {
    background-color: transparent;
    color: transparent;
    transition: all 1s;
}
