.donate-editor .fundraiser, .donate-editor .new-fundraiser, .fundraiser-overlay {
    border-radius: 1em;
    margin-right: .5em;
    margin-bottom: .25em;
}

.fundraiser-overlay {
    background-color: var(--bs-gray-400);
}

.donate-editor .fundraiser.dragged {
    visibility: hidden;
}

.donate-editor .new-fundraiser .icon {
    margin-right: .5em;
    vertical-align: -.15em;
}
