.menu-button {
    display: inline-grid;
    border: 1px solid transparent;
    border-radius: 1.3em;
    place-items: center;
    width: 2.1em;
    height: 2.1em;
    transition: background-color, color, border-color .15s ease-in;
}

.menu-button.active {
    border-color: var(--bs-gray-400);
    transition: border-color .15s ease-in;
}

.menu-button:hover {
    background-color: var(--bs-gray-100);
    transition: background-color, color .15s ease-in;
}
