.menu-button {
    display: inline-block;
    border-radius: 1.3em;
    padding: .3em .4em;
    width: 2.1em;
    height: 2.1em;
}

@media only screen and (max-width: 575px) {
    .menu-button {
        padding: .25em .4em;
    }
}

.menu-button svg {
    vertical-align: -.1em;
}

.menu-button.active {
    border: 1px solid var(--bs-gray-400);
}

.menu-button:hover {
    background-color: var(--highlight);
}
