.avatar-editor {
    cursor: pointer;
    position: relative;
    width: min-content;
    margin-bottom: .7rem;
    padding: .5rem;
}

.avatar-editor .icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .6rem;
    padding: .3rem .5rem;
}
