.avatar-edit-dialog .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-edit-dialog .tools {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.avatar-edit-dialog .editor {
    border: dotted 1px var(--bs-gray-400);
}

.avatar-edit-dialog .editor.drag-accept {
    border: solid 2px var(--bs-primary);
}

.avatar-edit-dialog .editor.drag-reject {
    border: solid 2px var(--bs-danger);
}

.avatar-edit-dialog .upload {
    margin-top: .25rem;
}

.avatar-edit-dialog .scale {
    margin-top: 1rem;
}

.avatar-edit-dialog INPUT[type=file] {
    display: none;
}
