.avatar-selector {
    margin: .15rem;
    display: flex;
    flex-wrap: wrap;
    cursor: auto;
    width: max-content;
    max-height: calc(312px + .75rem);
    overflow-y: auto;
}

@media only screen and (max-width: 575px) {
    .avatar-selector {
        max-width: calc(312px + 1rem);
    }
}

@media only screen and (min-width: 576px) {
    .avatar-selector {
        max-width: calc(614px + 2.75rem);
    }
}

.avatar-selector .create {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid var(--input-focus-border);
    border-radius: 10px;
    color: var(--input-focus-border);
    font-weight: bold;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.avatar-selector .create .fa-plus {
    font-size: 2rem;
}
