@media only screen and (max-width: 575px) {
    .profile-editor.content-panel {
        padding-bottom: 0;
    }
}

.profile-editor-footer {
    text-align: right;
}

.profile-editor-footer BUTTON {
    margin-left: 1rem;
}
