.profile-editor {
    background-color: white;
    border: var(--gray-light) 1px solid;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
}

.profile-editor-footer {
    text-align: right;
}

.profile-editor-footer BUTTON {
    margin-left: 1rem;
}
