.entry .content::after {
    display: block;
    content: "";
    clear: both;
}

.entry BLOCKQUOTE {
    border-left: 3px solid var(--bs-cyan);
    padding: 0.2rem 0.2rem 0.2rem 2.7rem;
    position: relative;
    overflow: hidden;
}

.entry BLOCKQUOTE::before {
    content: "\201C";
    font-family: serif;
    font-size: 4rem;
    color: var(--bs-cyan);
    position: absolute;
    left: 0.5rem;
    top: -1.5rem;
}

.entry A:hover {
    text-decoration: underline;
}

.entry.single-emoji .content .emoji {
    font-size: 3em;
}

@media only screen and (min-width: 576px) {
    .float-text-start {
        float: left;
        margin-inline-end: .5rem;
    }

    .float-text-end {
        float: right;
        margin-inline-start: .5rem;
    }
}

.entry .footnotes LI P:last-of-type {
    margin-bottom: 0;
}
