.entry-link-selector {
    margin-bottom: .25rem;
}

.entry-link-selector .dropdown-toggle::after {
    vertical-align: middle;
}

.entry-link-selector .popover {
    max-height: 21rem;
    overflow-y: auto;
}

@media only screen and (min-width: 576px) {
    .entry-link-selector .popover {
        width: 25em;
    }
}

@media only screen and (max-width: 575px) {
    .entry-link-selector .popover {
        width: calc(100vw - 4.3rem);
    }
}

.entry-link-selector .item {
    display: flex;
    line-height: normal;
    cursor: pointer;
    padding: .25em .6em;
    gap: .5em;
    white-space: normal;
    width: 100%;
    max-height: 5em;
    overflow-y: hidden;
    overflow-wrap: break-word;
}

.entry-link-selector .item SVG {
    position: relative;
    top: -.2em;
}

.entry-link-selector .item:hover {
    background-color: var(--highlight);
}
