.entry .menu {
    position: absolute;
    top: -.2rem;
    right: .4rem;
    background-color: transparent;
    border: 0;
    font-size: 1.1rem;
}

.entry .menu .no-actions {
    font-style: italic;
}
