.attached-file {
    grid-template-columns: 2.5rem 1fr 1.5em;
    align-items: start;
    padding: .25rem .5rem .25rem 0;
    margin: .5rem;
    background-color: var(--bs-gray-100);
    border-radius: .5rem;
}

.attached-file:not:has(.malware-icon) {
    cursor: pointer;
}

.attached-file:hover {
    background-color: var(--bs-gray-200);
}

@media only screen and (min-width: 992px) {
    .attached-file {
        display: inline-grid;
        width: calc(50% - 1rem);
    }
}

@media only screen and (max-width: 991px) {
    .attached-file {
        display: grid;
        width: calc(99.6vw - 3.5rem);
    }
}

.attached-file.dragged {
    cursor: grabbing;
}

.attached-file .menu {
    background-color: transparent;
    border: 0;
}

.attached-file .file-name {
    display: block;
    padding: .3rem .25rem 0;
    overflow-wrap: anywhere;
    color: var(--bs-gray-800);
}

.attached-file A.file-name {
    color: var(--bs-gray-800);
}

.attached-file A.file-name:hover {
    text-decoration: none;
}

.attached-file A.download-icon {
    display: block;
    color: var(--bs-gray-800);
    margin-top: .25rem;
}

.attached-file .malware-icon {
    display: block;
    border: none;
    background: none;
    padding: 0;
    margin-top: .25rem;
    color: var(--incorrect);
}
