.naming-operation-status {
    font-size: 80%;
}

.naming-operation-status.success {
    color: #228B22; /* forest green */
}

.naming-operation-status.failure {
    color: #B22222; /* fire brick */
}

.naming-operation-status .failure-reason {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;
}
