.profile-view {
    background-color: white;
    border: var(--gray-light) 1px solid;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 575px) {
    .profile-view {
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
    }
}

.profile-view .full-name {
    font-size: x-large;
    font-weight: bold;
}

.profile-view .full-name .gender {
    margin-left: .5em;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
}

.profile-view > .title {
    font-size: larger;
}

.profile-view .email {
    margin-top: 1em;
}

.profile-view .email .title {
    font-weight: bold;
}

.profile-view .bio {
    margin-top: 1em;
}
