.reactions-dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: grid;
    place-content: center;
    overflow: hidden;
}

.reactions-dialog {
    width: min(var(--bs-modal-width), 100vw);
}

@media only screen and (max-width: 991px) {
    .reactions-dialog-backdrop {
        place-content: start;
    }

    .reactions-dialog {
        --bs-popover-border-radius: 0;
    }
}

.reactions-dialog .popover-body {
    padding: .75rem 1.5rem 1.5rem;
}

.reactions-dialog .underlined-tabs {
    padding: 0;
    font-size: 1rem;
    min-height: 2.625rem;
}

.reactions-dialog .underlined-tabs .tab-scroller {
    padding-top: 0;
}

.reactions-dialog .underlined-tabs .tab {
    margin-right: 0;
}

.reactions-dialog .underlined-tabs .btn-close {
    align-self: center;
}

.reactions-dialog .switch-view {
    border: none;
    background-color: transparent;
    margin-right: 1rem;
    color: var(--bs-gray-600);
}

.reactions-dialog .switch-view:hover {
    color: var(--bs-gray-800);
}

@media only screen and (max-width: 991px) {
    .reactions-dialog .underlined-tabs .btn-close {
        display: none;
    }

    .reactions-dialog .switch-view {
        margin-right: 0;
    }
}

.reactions-dialog .items {
    min-height: 30vh;
    max-height: 80vh;
    overflow-y: auto;
    overscroll-behavior-y: none;
    outline: none;
    font-size: 1rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 991px) {
    .reactions-dialog .items {
        max-height: unset;
        height: calc(100vh - 12.75rem);
    }
}

.reactions-dialog DIV.more {
    text-align: center;
    color: var(--bs-gray-500);
    border-top: solid 1px var(--bs-gray-400);
    padding: 0.3rem;
}

.reactions-dialog BUTTON.more {
    width: 100%;
    color: var(--bs-primary);
    background-color: transparent;
    border: solid 1px var(--bs-primary);
}

.reactions-dialog BUTTON.more:hover {
    background-color: var(--highlight);
}
