.reactions-dialog .items.list .item {
    padding: .15rem;
    border-radius: .5rem;
    margin-bottom: 1.25rem;
    display: grid;
    grid-template:
        " avatar      details reaction    subscribe" min-content
        / min-content auto    2.075rem    2.075rem;
    gap: .75rem;
}

.reactions-dialog .items.list .item .avatar {
    grid-area: avatar;
}

.reactions-dialog .items.list .item .details {
    grid-area: details;
    overflow-x: hidden;
}

.reactions-dialog .items.list .item .details .owner-name {
    display: flex;
    align-items: flex-end;
    gap: .25em;
}

.reactions-dialog .items.list .item .details .node-name {
    display: block;
    max-width: calc(100% - 1.5em);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--bs-gray-900);
    font-weight: 600;
    line-height: 150%;
}

.reactions-dialog .items.list .item .details .signature-verify-button {
    display: block;
    padding-bottom: .075em;
}

.reactions-dialog .items.list .item .details .status {
    color: var(--bs-gray-600);
    font-size: .88rem;
    font-weight: 400;
    line-height: 133%;
}

.reactions-dialog .items.list .item .reaction {
    grid-area: reaction;
    padding: 0 .25rem;
    font-size: 1.25rem;
}

.reactions-dialog .items.list .item .subscribe-button {
    grid-area: subscribe;
}

.reactions-dialog .items.list .item .subscribe-button .menu {
    padding: 0;
}
