.reactions-dialog .topright {
    float: right;
}

.reactions-dialog .topright .btn-close {
    position: relative;
    top: -.5em;
}

.reactions-dialog .switch-view {
    display: inline-block;
    margin-right: 1rem;
    font-size: 130%;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    color: var(--bs-gray-600);
}

.reactions-dialog .switch-view:hover {
    background-color: var(--highlight);
    color: var(--bs-gray-800);
}

.reactions-dialog .totals {
    border-bottom: 1px var(--bs-gray-400) solid;
    margin-bottom: 1rem;
}

.reactions-dialog .total-tabs {
    display: inline-flex;
}

.reactions-dialog .total-tabs .total {
    font-size: 0.9em;
    margin-right: 0.8em;
    padding-bottom: 0.8em;
    position: relative;
    top: 5px;
    cursor: pointer;
    color: var(--bs-gray-600);
}

.reactions-dialog .total-tabs .total.active {
    border-bottom: 3px var(--bs-primary) solid;
    cursor: default;
    color: black;
}

.reactions-dialog .items {
    min-height: 30vh;
    max-height: 80vh;
    overflow-y: auto;
    overscroll-behavior-y: none;
    outline: none;
    font-size: 1rem;
}

.reactions-dialog .items .item {
    display: flex;
    padding: .15rem;
}

.reactions-dialog .items .item:hover {
    background-color: var(--highlight);
}

.reactions-dialog .items .item .avatar {
    margin-right: .5rem;
}

.reactions-dialog .items .item .owner-name {
    flex: auto;
    line-height: 32px;
    max-width: calc(100% - 1.5em - .35rem - 32px);
}

.reactions-dialog .items .item .owner-name .node-name {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 2.5em);
    overflow: hidden;
    white-space: nowrap;
}

.reactions-dialog .items .item .emoji-type {
    flex: none;
    width: 1.7em;
    padding-right: 0.5rem;
}

.reactions-dialog .items .item .emoji-end {
    flex: none;
    width: 1.5em;
    font-size: larger;
    line-height: 32px;
}

.reactions-dialog .items .item .all {
    flex: none;
    width: 5.7em;
    padding-right: 0.5rem;
    font-weight: bold;
}

.reactions-dialog .items .item .share {
    flex: none;
    width: 4em;
    padding-right: 0.5rem;
}

.reactions-dialog .items .item .total {
    flex: none;
    width: 4em;
    padding-right: 0.5rem;
    text-align: right;
}

.reactions-dialog .items .item .bar {
    flex: auto;
    display: flex;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.reactions-dialog .items .item .bar-left {
    flex: none;
    background-color: var(--bs-gray-400);
}

.reactions-dialog .items .item .bar-right {
    flex: auto;
}

.reactions-dialog DIV.more {
    text-align: center;
    color: var(--bs-gray-500);
    border-top: solid 1px var(--bs-gray-400);
    padding: 0.3rem;
}

.reactions-dialog BUTTON.more {
    width: 100%;
    color: var(--bs-primary);
    background-color: transparent;
    border: solid 1px var(--bs-primary);
}

.reactions-dialog BUTTON.more:hover {
    background-color: var(--highlight);
}
