.markdown-editor-panel {
    background-color: var(--bs-gray-200);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.markdown-editor-panel.hiding {
    display: none;
}

.markdown-editor:focus-within .markdown-editor-panel.hiding {
    display: block;
}

.markdown-editor-panel .group {
    display: inline-block;
}

@media only screen and (min-width: 576px) {
    .markdown-editor-panel .group {
        margin-right: .75rem;
    }
}
