.node-name {
    font-weight: bold;
}

.node-name.linked:hover {
    text-decoration: underline;
}

.node-name.correct {
    color: var(--correct);
}

.node-name.incorrect {
    color: var(--incorrect);
    text-decoration: line-through;
}

.node-name .mention {
    color: var(--bs-gray-600);
    font-weight: normal;
}
