.node-name {
    font-weight: bold;
}

.node-name.correct {
    color: var(--correct);
}

.node-name.incorrect {
    color: var(--incorrect);
    text-decoration: line-through;
}

.node-name .generation {
    font-size: 60%;
    position: relative;
    bottom: -0.25em;
}
