.feed-top-box {
    position: fixed;
    z-index: 1020;
    top: 5.3rem;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
}

.feed-top-button {
    background-color: #fafafa;
    color: var(--info);
    display: inline-block;
    padding: 0.2rem 0.7rem;
    border-radius: 1em;
    box-shadow: 3px 3px 2px #ddd;
    border: 1px solid #cccccc;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 400;
}
