.feed-end {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: .875rem;
    color: var(--bs-gray-600);
}

.feed-after-end {
    height: calc(var(--page-footer-height) + 1rem);
}
