#feed-header {
    position: sticky;
    top: 2.7rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--body-background);
    padding-top: 0.5rem;
    border-bottom: var(--gray-light) 1px solid;
    z-index: 1010;
}

#feed-buttons {
    display: flex;
}

.feed-btn {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

.feed-btn > BUTTON {
    width: 7em;
}
