.feed-top-box {
    position: absolute;
    z-index: 1020;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
}

@media only screen and (min-width: 576px) {
    .feed-top-box {
        bottom: -.8rem;
    }
}

@media only screen and (max-width: 575px) {
    .feed-top-box {
        bottom: -2.2rem;
    }
}

.feed-top-button {
    background-color: #fafafa;
    color: var(--info);
    display: inline-block;
    padding: 0.2rem 0.7rem;
    border-radius: 1em;
    box-shadow: 3px 3px 2px #ddd;
    border: 1px solid #cccccc;
    cursor: pointer;
    font-size: .875rem;
    font-weight: 400;
}

.feed-top-button:hover {
    background-color: var(--info);
    border-color: var(--info);
    color: white;
}
