.feed-title {
    background-color: var(--white-dark);
    padding: 1rem;
}

.feed-title .panel {
    width: min(900px, 100vw);
    margin-left: auto;
    margin-right: auto;
}

.feed-title .full-name {
    font-size: 1.9rem;
    font-weight: bold;
}

.feed-title .mention {
    color: var(--gray-medium);
    margin-left: .5em;
}
