.feed-sentinel {
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1.25rem;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    .feed-sentinel BUTTON {
        width: 100%;
    }
}

.feed-sentinel.bottom {
    margin-bottom: 1rem;
}

.feed-sentinel.loading {
    background-color: transparent;
    border-color: transparent;
}
