.feed-buttons {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: var(--zindex-feed-buttons);
    top: .5rem;
    right: .25rem;
    background: white;
    padding-left: .25rem;
}

@media only screen and (max-width: 575px) {
    .feed-buttons {
        top: .3rem;
    }
}

.feed-buttons BUTTON {
    white-space: nowrap;
}
