.feed-sentinel {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: var(--bs-cyan);
    border: 1px var(--bs-cyan) solid;
    cursor: pointer;
}

.feed-sentinel:hover {
    background-color: var(--highlight);
}
