.no-postings {
    font-weight: bold;
    color: var(--bs-gray-400);
    font-size: 4rem;
    margin-top: 5rem;
    text-align: center;
}

.feed-end {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: .875rem;
    color: var(--bs-gray-600);
}

@media only screen and (max-width: 575px) {
    .feed-after-end {
        height: 4rem;
    }
}
