#feed-header {
    position: sticky;
    top: 2.7rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--body-background);
    padding-top: 0.5rem;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 0.5rem;
    margin-left: -4px;
    margin-right: -4px;
    z-index: 1010;
}

#feed-header H2 {
    margin-left: 0.3em;
}

#feed-header.feed-header-shadow {
    box-shadow: 0 10px 5px -3px var(--gray-light);
}
