.feed-title {
    background-color: var(--white-dark);
    padding: 1rem 1rem 2rem 1rem;
    text-align: center;
}

.feed-title .full-name {
    font-size: 1.9rem;
    font-weight: bold;
}

.feed-title .mention {
    color: var(--gray-medium);
}
