.feed-title {
    background-color: var(--white-dark);
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.feed-title .full-name {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
}

.feed-title .mention {
    color: var(--gray-medium);
    text-align: center;
}
