#profile-title {
    background-color: white;
    padding: .5rem 1rem;
}

#profile-title .panel {
    width: min(var(--feed-width), 100%);
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

#profile-title .panel .avatar-link {
    flex: none;
    margin-right: .5rem;
}

#profile-title .panel .body {
    flex: auto;
    padding: .5rem 0;
    line-height: 1.2;
}

#profile-title .full-name {
    font-size: 1.9rem;
    font-weight: bold;
    overflow-wrap: break-word;
}

#profile-title .mention {
    color: var(--bs-gray-500);
    white-space: nowrap;
}

#profile-title .title {
    font-size: larger;
    margin-top: .5em;
}
