.connection-status.connected {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: .75rem;
    align-items: center;
}

.connection-status.not-connected {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
