#connection-status .home-name {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    top: -0.1rem;
    font-weight: bold;
}

#connection-status .home-name.anonymous {
    font-weight: normal;
    font-style: italic;
}
