.formatting-menu-item {
    display: grid;
    grid-template-columns: 2em 12em 5em;
    padding-inline-start: .75em;
}

.formatting-menu-sub .formatting-menu-item {
    padding-inline-start: 1.5em;
    grid-template-columns: 2em 11.25em 5em;
}

@media only screen and (max-width: 575px) {
    .formatting-menu-item {
        grid-template-columns: 2em 12em 2em;
    }

    .formatting-menu-sub .formatting-menu-item {
        grid-template-columns: 2em 11.25em 2em;
    }
}

.formatting-menu-item .icon {
    grid-column: 1;
}

.formatting-menu-item .title {
    grid-column: 2;
    overflow-x: hidden;
}

.formatting-menu-item .hotkey {
    grid-column: 3;
    text-align: right;
}

.formatting-menu-item.engaged {
    color: var(--bs-primary);
}
