.rich-text-editor-uploaded-image {
    position: relative;
}

.rich-text-editor-uploaded-image .thumbnail {
    width: 99px;
    height: 99px;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
}

.rich-text-editor-uploaded-image.dragged .thumbnail {
    visibility: hidden;
}

.rich-text-editor-uploaded-image .menu {
    position: absolute;
    right: .25rem;
    top: .25rem;
    background-color: white;
    color: var(--bs-gray-600);
    border: 1px solid var(--bs-gray-400);
    border-radius: .6rem;
    padding: 0;
    font-size: 50%;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1;
    cursor: pointer;
}

.rich-text-editor-uploaded-image .too-large {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--bs-danger);
    color: white;
    font-size: 75%;
    text-align: center;
    padding: .25em;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
