.trending-post {
    margin-bottom: 1.5rem;
    padding: .25rem .5rem .25rem .25rem;
    display: grid;
    gap: .25rem;
    place-content: center start;
    grid-template:
        " avatar             owner   " calc(24px + .5rem)
        " heading            heading " min-content
        " counters           counters" min-content
        / calc(24px + .5rem) auto;
    font-size: 1rem;
}

.trending-post.small {
    margin-bottom: 1rem;
    font-size: .875rem;
}

.trending-post .avatar {
    grid-area: avatar;
}

.trending-post .owner {
    grid-area: owner;
    color: var(--bs-gray-900);
    font-size: 1rem;
}

.trending-post .heading {
    grid-area: heading;
    color: var(--bs-gray-900);
    line-height: 1.5;
}

.trending-post .heading:hover {
    text-decoration: underline;
}

.trending-post .counters {
    grid-area: counters;
    margin-top: .15rem;
    color: var(--bs-gray-600);
    font-size: .875em;
}

.trending-post .counters SPAN + SPAN {
    margin-inline-start: 1em;
}
