.settings-sheet-form {
    display: contents;
}

.settings-sheet {
    grid-area: sheet;
    max-width: 47rem;
    overflow-y: auto;
    padding-left: .25rem;
    padding-right: 1rem;
}

@media only screen and (max-width: 991px) {
    .settings-sheet {
        width: calc(100% - 1rem);
        padding-left: 1.5rem;
    }
}

.settings-sheet .chapter {
    margin-bottom: 2rem;
    padding-top: .5rem;
}

.settings-sheet .chapter:first-child {
    padding-top: 0;
}

.settings-sheet .chapter .title {
    font-size: 18pt;
    padding-bottom: 1.5rem;
}

.settings-sheet .chapter .title .description {
    font-size: 12pt;
    color: var(--bs-gray-600);
}

.settings-sheet .chapter .title .delete {
    border: 0;
    border-radius: 5px;
    background: none;
    font-size: 12pt;
    color: var(--bs-gray-400);
    margin-left: .5rem;
    position: relative;
    top: -.1rem;
}

.settings-sheet .chapter .title .delete:hover {
    background-color: var(--bs-gray-100);
    color: var(--bs-red);
}
