.settings-menu {
    grid-area: menu;
    width: calc(100% - 3rem);
    --bs-nav-link-color: var(--bs-gray-900);
    --bs-nav-link-hover-color: var(--bs-gray-900);
    --bs-nav-link-disabled-color: var(--bs-gray-400);
    --bs-nav-pills-link-active-color: var(--bs-gray-900);
    --bs-nav-pills-link-active-bg: var(--bs-gray-200);
    --nav-pills-link-hover-bg: var(--bs-gray-100);
    --nav-pills-link-active-hover-bg: var(--bs-gray-200);
    --nav-link-arrow-color: var(--bs-gray-600);
}

@media only screen and (max-width: 575px) {
    .settings-menu {
        width: calc(100% - 1rem);
        padding-left: 1rem;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 575px) {
    .settings-menu-spacer {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .settings-menu-spacer {
        grid-area: menu;
        width: calc(100% - 1.5rem);
        border-right: 1px solid var(--bs-border-color);
    }
}

.nav.nav-pills .nav-link.nav-danger {
    --bs-nav-link-color: var(--bs-danger);
    --bs-nav-link-hover-color: var(--bs-danger);
    --bs-nav-pills-link-active-color: white;
    --bs-nav-pills-link-active-bg: var(--bs-danger);
    --nav-pills-link-hover-bg: var(--highlight-red);
    --nav-pills-link-active-hover-bg: var(--bs-danger);
    --nav-link-arrow-color: transparent;
    --nav-link-active-arrow-color: transparent;
}
