.token-info {
    padding-left: .5rem;
    border-radius: .5rem;
}

.token-info:hover {
    background-color: var(--bs-gray-100);
}

.token-info .icon {
    color: var(--bs-gray-500);
    vertical-align: -.25em;
}

.token-info .btn-link {
    padding-top: .1em;
    padding-bottom: .25em;
    min-width: 7rem;
    text-align: left;
}

.token-info .btn-link:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

.token-info .current {
    color: var(--bs-brand-600);
}

.token-info .token-button {
    font-size: 80%;
    padding: .25em .35em;
    margin-right: .25em;
    vertical-align: .1em;
}

.token-info .token-button.red:hover {
    color: var(--bs-red);
}

.token-info .details {
    margin: .25em 0 .5em 1em;
}

.token-info .details .item {
    display: inline-block;
    margin-right: 2em;
}

.token-info .details .item EM {
    font-weight: bold;
    font-style: normal;
    margin-right: .5em;
}
