.settings-notebook {
    background-color: white;
    margin: 1rem 1rem 1rem 0;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 15.5rem minmax(0, 45rem) auto;
    grid-template-rows: min-content min-content auto 3.875rem;
    grid-template-areas:
        "title title title"
        "tabs tabs tabs"
        "menu sheet sheet"
        "menu buttons buttons";
}

@media only screen and (max-width: 575px) {
    .settings-notebook-switcher {
        width: 100vw;
        height: min-content;
        overflow-x: hidden;
    }

    .settings-notebook {
        margin: 0;
        padding: 0 1rem 1rem 1rem;
        width: 200vw;
        height: calc(100vh - 5.5rem);
        grid-template-columns: calc(100vw - 1rem) calc(100vw - 1rem);
        grid-template-rows: 4.6rem .5rem auto 3.875rem;
        grid-template-areas:
        "tabs back"
        "tabs sheet"
        "menu sheet"
        "menu buttons";
        position: relative;
    }

    .settings-notebook.menu-side {
        left: 0;
        transition: left .15s ease-in-out;
    }

    .settings-notebook.sheet-side {
        left: -100vw;
        transition: left .15s ease-in-out;
    }
}

.settings-notebook .settings-title {
    grid-area: title;
    font-family: var(--font-messages), sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 125%;
    color: var(--bs-gray-900);
    margin-bottom: 2rem;
}

@media only screen and (max-width: 575px) {
    .settings-notebook .settings-title {
        display: none;
    }
}

.settings-notebook .form-check {
    padding-left: 1.75em;
}
