.token-info {
    padding-left: .5rem;
}

.token-info:hover {
    background-color: var(--bs-gray-100);
}

.token-info .icon {
    color: var(--bs-gray-500);
}

.token-info .btn {
    padding-top: .1em;
    padding-bottom: .25em;
}

.token-info .btn:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

.token-info .current {
    color: var(--bs-brand-600);
    font-style: italic;
}

.token-info .token-button {
    border: 0;
    border-radius: 5px;
    background: none;
    font-size: 80%;
    color: var(--bs-gray-600);
    margin-left: .25rem;
}

.token-info .token-button:hover {
    background-color: var(--bs-gray-100);
    color: var(--bs-gray-800);
}

.token-info .token-button.red:hover {
    color: var(--bs-red);
}

.token-info .details {
    margin: .25em 0 .5em 1em;
}

.token-info .details .item {
    display: inline-block;
    margin-right: 2em;
}

.token-info .details .item EM {
    font-weight: bold;
    font-style: normal;
    margin-right: .5em;
}
