.settings-tabs .nav-link.active {
    font-weight: bold;
}

.settings-tabs .nav-link.active:hover {
    background-color: white;
}

.settings-tabs .nav-link {
    color: var(--bs-gray-dark);
}

.settings-tabs .nav-link:hover {
    background-color: var(--highlight);
}
