.settings-notebook {
    background-color: white;
    margin: 1rem 1rem 1rem 0;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template:
        " title   title            title"   min-content
        " tabs    tabs             tabs"    min-content
        " menu    sheet            sheet"   auto
        " build   buttons          buttons" 3.875rem
        / 15.5rem minmax(0, 45rem) auto;
}

.settings-notebook .settings-left {
    display: contents;
}

.settings-notebook .settings-right {
    display: contents;
}

@media only screen and (max-width: 991px) {
    .settings-notebook-switcher {
        width: 100vw;
        height: min-content;
        overflow: hidden;
    }

    .settings-notebook {
        margin: 0;
        padding: 0;
        border-radius: 0;
        width: 200vw;
        height: 100vh;
        grid-template:
            " left  right" auto
            / 100vw 100vw;
        position: relative;
    }

    .settings-notebook.menu-side {
        left: 0;
        transition: left .15s ease-in-out;
    }

    .settings-notebook.sheet-side {
        left: -100vw;
        transition: left .15s ease-in-out;
    }

    .settings-notebook .settings-left {
        display: grid;
        grid-template:
            " back"        calc(var(--page-header-height) + .6rem)
            " tabs"        4.1rem
            " menu"        1fr
            " build"       1.5rem
            " bottom-menu" var(--page-footer-height)
            / auto;
    }

    .settings-notebook .settings-right {
        display: grid;
        grid-template:
            " back"    calc(var(--page-header-height) + .6rem)
            " sheet"   1fr
            " buttons" 3.875rem
            / auto;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
}

.settings-notebook #main-menu {
    grid-area: main-menu;
    position: unset;

}

.settings-notebook #build-number {
    grid-area: build;
    color: var(--bs-gray-500);
    font-size: .7rem;
    align-self: end;
}

@media only screen and (max-width: 991px) {
    .settings-notebook #build-number {
        align-self: center;
        margin-left: 1rem;
    }
}

.settings-notebook #bottom-menu {
    grid-area: bottom-menu;
    position: unset;

}

.settings-notebook .page-title {
    grid-area: title;
    margin-bottom: 2rem;
}

.settings-notebook .form-check {
    padding-left: 1.75em;
}
