.draft-selector .dropdown-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .75rem 1rem;
    border-bottom: 1px solid var(--bs-gray-200);
    font-size: 1rem;
    line-height: 1.5;
}

.draft-selector .dropdown-item:last-child {
    border-bottom: none;
}

.draft-selector .dropdown-item.current {
    background-color: var(--primary-50);
    cursor: default;
}

.draft-selector .dropdown-item .draft-info {
    flex: auto;
}

.draft-selector .dropdown-item .draft-delete {
    flex: none;
    display: flex;
    margin-left: 1rem;
    padding: .5rem;
    background-color: transparent;
    border-radius: .5rem;
}

.draft-selector .dropdown-item:hover .draft-delete {
    cursor: pointer;
}

@media (any-hover: hover) {
    .draft-selector .dropdown-item .draft-delete {
        visibility: hidden;
    }

    .draft-selector .dropdown-item:hover .draft-delete {
        visibility: visible;
    }
}

.draft-selector .dropdown-item:hover .draft-delete:hover {
    background-color: var(--bs-red);
    color: white;
}

.draft-selector .dropdown-item .content {
    white-space: normal;
    width: max-content;
    max-height: 5em;
    overflow-y: hidden;
    overflow-wrap: break-word;
    padding-bottom: .25rem;
}

@media only screen and (min-width: 992px) {
    .draft-selector .dropdown-item .content {
        max-width: 25em;
    }
}

@media only screen and (max-width: 991px) {
    .draft-selector .dropdown-item .content {
        max-width: calc(100vw - 6rem);
    }
}

.draft-selector .dropdown-item .edited {
    display: block;
    font-size: .875rem;
    color: var(--bs-gray-500);
}
