.owner-name {
    font-weight: bold;
    color: white;
    margin-right: 1rem;
}

.owner-name.correct {
    color: #68faff;
}

.owner-name.incorrect {
    color: #ff6868;
    text-decoration: line-through;
}

.owner-name .generation {
    font-size: 60%;
    position: relative;
    bottom: -0.25em;
}
