.complaint-decision-view {
    background-color: var(--bs-blue-100);
    border-radius: .25rem;
    padding: .5rem;
    margin-top: 1rem;
}

.complaint-decision-view .info {
    background-color: white;
    border-radius: .25rem;
    border: solid 1px var(--bs-gray-400);
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
