.user-complaint {
    background-color: var(--bs-gray-100);
    border-radius: .25rem;
    padding: .5rem;
    overflow-wrap: break-word;
    text-align: start;
    margin-top: 1rem;
}

.user-complaint .owner {
    font-weight: bold;
    margin-right: .5em;
}

.user-complaint .owner > A {
    color: var(--subject);
}

.user-complaint .date {
    font-size: .8rem;
    color: var(--bs-gray-500);
}

.user-complaint P {
    margin-top: 1rem;
}

.user-complaint P:last-child {
    margin-bottom: 0;
}

.user-complaint .anonymous-requested {
    color: var(--bs-danger);
}
