@media only screen and (max-width: 991px) {
    .complaint {
        padding-bottom: calc(var(--page-footer-height) + .25rem);
        background-color: white;
        min-height: 100vh;
    }
}

.complaint .mobile-back {
    background-color: white;
}

.complaint H4 A:hover {
    text-decoration: underline;
}

.complaint .status.processing {
    color: var(--verifying);
}

.complaint .status.good {
    color: var(--correct);
}

.complaint .status.wrong {
    color: var(--incorrect);
}

.complaint .status .icon {
    vertical-align: -.25em;
}

.complaint .anonymous {
    background-color: var(--bs-gray-100);
    border-radius: .25rem;
    padding: .5rem;
    margin-top: 1rem;
    font-style: italic;
}
