.complain .status.processing {
    color: var(--verifying);
}

.complain .status.good {
    color: var(--correct);
}

.complain .status.wrong {
    color: var(--incorrect);
}

.complain .anonymous {
    background-color: var(--bs-gray-100);
    border-radius: .25rem;
    padding: .5rem;
    margin-top: 1rem;
    font-style: italic;
}
