.comment-dialog .modal-children {
    overflow: visible;
}

.comment-dialog .owner-line {
    margin-bottom: .25rem;
}

.comment-dialog .owner-line .avatar-field {
    display: inline-block;
    margin-right: .25rem;
}

.comment-dialog .rich-text-editor-image-list {
    max-height: 16rem;
}

.comment-dialog .modal-footer .draft-status {
    color: var(--bs-gray-400);
    margin-inline-end: 1em;
}

@media only screen and (min-width: 576px) {
    .comment-dialog A.link-preview, .comment-dialog DIV.link-preview {
        width: 400px;
    }
}

@media only screen and (max-width: 575px) {
    .comment-dialog A.link-preview, .comment-dialog DIV.link-preview {
        width: calc(100vw - 2rem);
    }
}
