.comment-compose-panel {
    display: flex;
    justify-content: space-between;
    margin-top: .35rem;
}

@media only screen and (max-width: 991px) {
    .comment-compose-panel {
        margin-left: -3.25rem;
    }
}

.comment-compose-panel .rich-text-editor-button {
    border-radius: .5em;
    width: 2em;
    height: 2em;
    padding: .15em .15em 1.7em;
}

.comment-compose-panel .left-pane .rich-text-editor-button {
    margin-inline-end: .75em;
}

.comment-compose-panel .rich-text-editor-button.delete {
    color: var(--bs-danger);
}

@media only screen and (max-width: 991px) {
    .comment-compose-panel .rich-text-editor-button.delete {
        margin-inline-end: 1em;
    }
}

.comment-compose-panel .rich-text-editor-button.delete:hover {
    background-color: var(--bs-danger-bg-subtle);
}

.comment-compose-panel .formatting-menu-button {
    border: 1px solid var(--bs-gray-400);
    border-radius: .25em;
    padding: .15em;
}

.comment-compose-panel .formatting-menu-button:hover {
    background-color: var(--bs-gray-100);
}

.comment-compose-panel .formatting-menu-button:hover .rich-text-editor-button {
    background-color: transparent;
}

.comment-compose-panel .draft-status {
    color: var(--bs-gray-400);
    margin-inline-end: .75em;
}
