.comment-compose-panel .formatting-menu-button {
    border: 1px solid var(--bs-gray-400);
    border-radius: .25em;
    padding: .15em;
}

.comment-compose-panel .formatting-menu-button:hover {
    background-color: var(--highlight);
}

.comment-compose-panel .formatting-menu-button:hover .rich-text-editor-button {
    background-color: transparent;
}

.formatting-menu {
    max-height: 90vh;
    overflow-y: auto;
}
